automation-artifacts/greg/wsdl/documentationTest.wsdl

<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:ns1="http://org.apache.axis2/xsd" xmlns:ns="http://www.wso2.org/types" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://www.wso2.org/types">
    <wsdl:documentation>HelloServiceHhhhhhhhhHhhhhhhhhHhhhhhhhhHhhhhhhhhHhhhhhhhhHhhhhhhhhHhhhhhhhhHhhhhhhhhHhhhhhhhhHhhhhhhhhHhhhhhhhhHhhhhhhhhHhhhhhhhhHhhhhhhhhHhhhhhhhhHhhhhhhhhHhhhhhhhhHhhhhhhhhHhhhhhhhhHhhhhhhhhHhhhhhhhhHhhhhhhhhHhhhhhhhhHhhhhhhhhHhhhhhhhhHhhhhhhhhHhhhhhhhhHhhhhhhhhHhhhhhhhhHhhhhhhhhHhhhhhhhhHhhhhhhhhHhhhhhhhhHhhhhhhhhHhhhhhhhhHhhhhhhhhHhhhhhhhhHhhhhhhhhHhhhhhhhhHhhhhhhhhHhhhhhhhhHhhhhhhhhHhhhhhhhhHhhhhhhhhHhhhhhhhhHhhhhhhhhHhhhhhhhhHhhhhhhhhHhhhhhhhhHhhhhhhhhHhhhhhhhhHhhhhhhhhHhhhhhhhhHhhhhhhhhHhhhhhhhhHhhhhhhhhHhhhhhhhhHhhhhhhhhHhhhhhhhhHhhhhhhhhHhhhhhhhhHhhhhhhhhHhhhhhhhhHhhhhhhhhHhhhhhhhhHhhhhhhhhHhhhhhhhhHhhhhhhhhHhhhhhhhhHhhhhhhhhHhhhhhhhhHhhhhhhhhHhhhhhhhhHhhhhhhhhHhhhhhhhhHhhhhhhhhHhhhhhhhhHhhhhhhhhHhhhhhhhhHhhhhhhhhHhhhhhhhhHhhhhhhhhHhhhhhhhhHhhhhhhhhHhhhhhhhhHhhhhhhhhHhhhhhhhhHhhhhhhhhHhhhhhhhhHhhhhhhhhHhhhhhhhhHhhhhhhhhHhhhhhhhhHhhhhhhhhHhhhhhhhhHhhhhhhhhHhhhhhhhhHhhhhhhhhHhhhhhhhhHhhhhhhhhHhhhhhhhhHhhhhhhhhHhhhhhhhhHhhhhhhhhHhhhhhhhhHhhhhhhhhHhhhhhhhhHhhhhhhhhHhhhhhhhhHhhhhhhhhHhhhhhhhho00000000000</wsdl:documentation>
    <wsdl:types>
        <xs:schema attributeFormDefault="qualified" elementFormDefault="unqualified" targetNamespace="http://www.wso2.org/types">
            <xs:element name="greet">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="name" nillable="true" type="xs:string"></xs:element>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="greetResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" nillable="true" type="xs:string"></xs:element>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:schema>
    </wsdl:types>
    <wsdl:message name="greetRequest">
        <wsdl:part name="parameters" element="ns:greet"></wsdl:part>
    </wsdl:message>
    <wsdl:message name="greetResponse">
        <wsdl:part name="parameters" element="ns:greetResponse"></wsdl:part>
    </wsdl:message>
    <wsdl:portType name="HelloServicePortType">
        <wsdl:operation name="greet">
            <wsdl:input message="ns:greetRequest" wsaw:Action="urn:greet"></wsdl:input>
            <wsdl:output message="ns:greetResponse" wsaw:Action="urn:greetResponse"></wsdl:output>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="HelloServiceSoap11Binding" type="ns:HelloServicePortType">
        <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"></soap:binding>
        <wsdl:operation name="greet">
            <soap:operation soapAction="urn:greet" style="document"></soap:operation>
            <wsdl:input>
                <soap:body use="literal"></soap:body>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"></soap:body>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:binding name="HelloServiceSoap12Binding" type="ns:HelloServicePortType">
        <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"></soap12:binding>
        <wsdl:operation name="greet">
            <soap12:operation soapAction="urn:greet" style="document"></soap12:operation>
            <wsdl:input>
                <soap12:body use="literal"></soap12:body>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"></soap12:body>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:binding name="HelloServiceHttpBinding" type="ns:HelloServicePortType">
        <http:binding verb="POST"></http:binding>
        <wsdl:operation name="greet">
            <http:operation location="greet"></http:operation>
            <wsdl:input>
                <mime:content type="text/xml" part="parameters"></mime:content>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="parameters"></mime:content>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="HelloService">
        <wsdl:port name="HelloServiceHttpSoap11Endpoint" binding="ns:HelloServiceSoap11Binding">
            <soap:address location="http://10.210.1.144:9764/services/HelloService.HelloServiceHttpSoap11Endpoint/"></soap:address>
        </wsdl:port>
        <wsdl:port name="HelloServiceHttpsSoap11Endpoint" binding="ns:HelloServiceSoap11Binding">
            <soap:address location="https://10.210.1.144:9444/services/HelloService.HelloServiceHttpsSoap11Endpoint/"></soap:address>
        </wsdl:port>
        <wsdl:port name="HelloServiceHttpSoap12Endpoint" binding="ns:HelloServiceSoap12Binding">
            <soap12:address location="http://10.210.1.144:9764/services/HelloService.HelloServiceHttpSoap12Endpoint/"></soap12:address>
        </wsdl:port>
        <wsdl:port name="HelloServiceHttpsSoap12Endpoint" binding="ns:HelloServiceSoap12Binding">
            <soap12:address location="https://10.210.1.144:9444/services/HelloService.HelloServiceHttpsSoap12Endpoint/"></soap12:address>
        </wsdl:port>
        <wsdl:port name="HelloServiceHttpsEndpoint" binding="ns:HelloServiceHttpBinding">
            <http:address location="https://10.210.1.144:9444/services/HelloService.HelloServiceHttpsEndpoint/"></http:address>
        </wsdl:port>
        <wsdl:port name="HelloServiceHttpEndpoint" binding="ns:HelloServiceHttpBinding">
            <http:address location="http://10.210.1.144:9764/services/HelloService.HelloServiceHttpEndpoint/"></http:address>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>