automation-artifacts/greg/schema/SchemaImportInvalidSample.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="urn:listing3">
    <xsd:import namespace="urn:listing4"
                schemaLocation="https://raw.githubusercontent.com/wso2/wso2-qa-artifacts/master/automation-artifacts/greg/schema/abc.xsd"/>
    <xsd:complexType name="Phone">
        <xsd:sequence>
            <xsd:element name="areaCode" type="xsd:int"/>
            <xsd:element name="exchange" type="xsd:int"/>
            <xsd:element name="number" type="xsd:int"/>
        </xsd:sequence>
    </xsd:complexType>
</xsd:schema>
