performance-scripts/greg/Jmeter-scripts-crud/wsdl/ops.xsd

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<!-- edited with XMLSpy v2006 sp1 U (http://www.altova.com) by Sascha Schwarz (European Patent Office The Hague) -->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:ops="http://ops.epo.org" xmlns:exch="http://www.epo.org/exchange" xmlns:ftxt="http://www.epo.org/fulltext" targetNamespace="http://ops.epo.org" elementFormDefault="qualified">
	<xs:import namespace="http://www.epo.org/exchange" schemaLocation="exchange-documents-v2.0.xsd"/>
	<xs:import namespace="http://www.epo.org/fulltext" schemaLocation="fulltext-documents.xsd"/>
	<xs:include schemaLocation="ops_legal.xsd"/>
	<xs:simpleType name="fulltext-formatValues">
		<xs:annotation>
			<xs:documentation>- text-only: Fulltext in text-only mode, i.e. without any images.
				- original: The original fulltext, including the full markup and images.
</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:enumeration value="text-only"/>
			<xs:enumeration value="original"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="fulltext-formatType" mixed="true">
		<xs:simpleContent>
			<xs:extension base="ops:fulltext-formatValues">
				<xs:attribute name="version" type="xs:string"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:simpleType name="document-formatType">
		<xs:annotation>
			<xs:documentation>- SINGLE_PAGE_PDF: A single page of the document in PDF format.
				- SINGLE_PAGE_TIFF: A single page of the document as a TIFF image.
				- FIRST_PAGE_PNG: A first page clipping as a PNG image.
</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:enumeration value="SINGLE_PAGE_PDF"/>
			<xs:enumeration value="SINGLE_PAGE_TIFF"/>
			<xs:enumeration value="FIRST_PAGE_PNG"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="range-indexType">
		<xs:annotation>
			<xs:documentation>An index for a range must be an int greater than or equal to 0.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:int">
			<xs:minInclusive value="0"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="queryType">
		<xs:annotation>
			<xs:documentation>A query in a language, defined by a "syntax" atribute. </xs:documentation>
		</xs:annotation>
		<xs:simpleContent>
			<xs:extension base="xs:string">
				<xs:attribute name="syntax" type="xs:string" use="optional"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="rangeType">
		<xs:annotation>
			<xs:documentation>Specifies a range of elements. The index starts with 1. Both the begin and the end of the range
				need to be given. </xs:documentation>
		</xs:annotation>
		<xs:attribute name="begin" type="ops:range-indexType" use="required"/>
		<xs:attribute name="end" type="ops:range-indexType" use="required"/>
	</xs:complexType>
	<xs:complexType name="application-referenceType">
		<xs:annotation>
			<xs:documentation>An exch:application-reference with the two optional attributes system and family-id added. System
				describes which OPS system sent the response / should handle the request.</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="exch:application-referenceType">
				<xs:attribute name="system" type="xs:string" use="optional"/>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="priority-claimType">
		<xs:annotation>
			<xs:documentation>An exch:priority-claim with the two optional attributes system and family-id added. System
				describes which OPS system sent the response / should handle the request.</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="exch:priority-claimType">
				<xs:attribute name="system" type="xs:string" use="optional"/>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="publication-referenceType">
		<xs:annotation>
			<xs:documentation>An exch:publication-reference with the two optional attributes system and family-id added. System
				describes which OPS system sent the response / should handle the request, family-id gives the ID of the set of
				equivalents.</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="exch:publication-referenceType">
				<xs:attribute name="system" type="xs:string" use="optional"/>
				<xs:attribute name="family-id" type="xs:string" use="optional"/>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="any-referenceType">
		<xs:annotation>
			<xs:documentation>A type that defines a single reference, either via a publication-reference, an
				application-reference, or a priority-claim. </xs:documentation>
		</xs:annotation>
		<xs:choice>
			<xs:element ref="exch:publication-reference"/>
			<xs:element ref="exch:application-reference"/>
			<xs:element ref="exch:priority-claim"/>
			<xs:element ref="ops:publication-reference"/>
			<xs:element ref="ops:application-reference"/>
			<xs:element ref="ops:priority-claim"/>
		</xs:choice>
	</xs:complexType>
	<xs:complexType name="any-referenceType-with-biblio">
		<xs:complexContent>
			<xs:extension base="ops:any-referenceType">
				<xs:attribute name="with-biblio" type="xs:boolean" use="optional" default="false"/>
			</xs:extension>
		</xs:complexContent>
		<!-- [agr] OPSLEVLEX-152: new complex type required by some inpadoc services -->
	</xs:complexType>
	<xs:complexType name="any-reference-listType">
		<xs:annotation>
			<xs:documentation>A type that defines a list of single references.</xs:documentation>
		</xs:annotation>
		<xs:choice maxOccurs="unbounded">
			<xs:element ref="exch:publication-reference"/>
			<xs:element ref="exch:application-reference"/>
			<xs:element ref="exch:priority-claim"/>
			<xs:element ref="ops:publication-reference"/>
			<xs:element ref="ops:application-reference"/>
			<xs:element ref="ops:priority-claim"/>
		</xs:choice>
	</xs:complexType>
	<xs:complexType name="publication-reference-listType">
		<xs:annotation>
			<xs:documentation>A type that defines a list of OPS publication references.</xs:documentation>
		</xs:annotation>
		<xs:choice minOccurs="0" maxOccurs="unbounded">
			<xs:element ref="ops:publication-reference"/>
			<!-- [agr] OPSLEVELX-123: publication list type can also be used as an input, so exch element is required -->
			<xs:element ref="exch:publication-reference"/>
		</xs:choice>
	</xs:complexType>
	<xs:complexType name="fulltext-retrievalType">
		<xs:annotation>
			<xs:documentation>A type that defines the possible input format for fulltext retrieval requests.</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="ops:any-publication-referenceType">
				<xs:attribute name="format" type="ops:fulltext-formatValues" use="required"/>
				<xs:attribute name="format-version" type="xs:string" use="optional"/>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="any-publication-referenceType">
		<xs:annotation>
			<xs:documentation>A type that defines any publication reference, either from namespace exch or from namespace ops.
			</xs:documentation>
		</xs:annotation>
		<xs:choice>
			<xs:element ref="ops:publication-reference"/>
			<xs:element ref="exch:publication-reference"/>
		</xs:choice>
	</xs:complexType>
	<xs:complexType name="document-retrievalType">
		<xs:annotation>
			<xs:documentation> ID must be the ID of the document that is supposed to be retrieved. This ID must match exactly, it
				can be obtained via a document inquiry.
				pageNumber specifies which page should be retrieved. This must be an integer greater than 0.
				document-format determines the return format.
				system: The exact name of the system where the document can be found. This name can be obtained via a document inquiry.
			</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element ref="ops:desc" minOccurs="0"/>
			<xs:element ref="ops:content-ref" minOccurs="0"/>
		</xs:sequence>
		<xs:attribute name="id" type="xs:string" use="required"/>
		<xs:attribute name="page-number" type="xs:nonNegativeInteger" use="required"/>
		<xs:attribute name="document-format" type="ops:document-formatType" use="required"/>
		<xs:attribute name="system" type="xs:string" use="required"/>
	</xs:complexType>
	<xs:complexType name="biblio-searchType">
		<xs:sequence>
			<xs:element ref="ops:query"/>
			<xs:element ref="ops:range" minOccurs="0"/>
			<xs:element ref="ops:search-result" minOccurs="0"/>
		</xs:sequence>
		<xs:attribute name="total-result-count" type="xs:string" use="optional"/>
		<xs:attribute name="elapsed-time" type="xs:integer" use="optional"/>
	</xs:complexType>
	<xs:element name="publication-reference" type="ops:publication-referenceType"/>
	<xs:element name="application-reference" type="ops:application-referenceType"/>
	<xs:element name="priority-claim" type="ops:priority-claimType"/>
	<xs:element name="biblio-retrieval">
		<xs:annotation>
			<xs:documentation>The root element for a request for bibliographic data.</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:complexContent>
				<xs:extension base="ops:any-reference-listType">
					<xs:attribute name="full-publication-cycle" type="xs:boolean" use="optional" default="false"/>
				</xs:extension>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="biblio-search" type="ops:biblio-searchType">
		<xs:annotation>
			<xs:documentation>The root element for a request to search in bibliographic data.</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="claims-retrieval" type="ops:fulltext-retrievalType">
		<xs:annotation>
			<xs:documentation>The root element for a request for the claims.</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="description-retrieval" type="ops:fulltext-retrievalType">
		<xs:annotation>
			<xs:documentation>The root element for a request for the description.</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="equivalents-inquiry">
		<xs:annotation>
			<xs:documentation>The root element for a request or response for equivalents inquiry.</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:complexContent>
				<xs:extension base="ops:any-publication-referenceType">
					<xs:sequence>
						<xs:element ref="ops:inquiry-result" minOccurs="0" maxOccurs="unbounded"/>
					</xs:sequence>
					<xs:attribute name="with-biblio" type="xs:boolean" use="optional" default="false"/>
					<xs:attribute name="full-publication-cycle" type="xs:boolean" use="optional" default="false"/>
				</xs:extension>
				<!-- OPSLEVELX-122: new attributes required for biblio mode -->
			</xs:complexContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="document-inquiry">
		<xs:annotation>
			<xs:documentation>The root element for a request or response for document inquiry.</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:complexContent>
				<xs:extension base="ops:any-publication-referenceType">
					<xs:sequence>
						<xs:element ref="ops:inquiry-result" minOccurs="0" maxOccurs="unbounded"/>
					</xs:sequence>
					<xs:attribute name="status" type="xs:string" use="optional"/>
				</xs:extension>
				<!-- [agr] OPSLEVELX-123: a bulk processing requires stub elements in exceptional situations -->
			</xs:complexContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="document-retrieval" type="ops:document-retrievalType">
		<xs:annotation>
			<xs:documentation>The root element for a request for document retrieval.</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="fulltext-inquiry">
		<xs:annotation>
			<xs:documentation>The root element for a request or response for fulltext inquiry.</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:complexContent>
				<xs:extension base="ops:any-publication-referenceType">
					<xs:sequence>
						<xs:element ref="ops:inquiry-result" minOccurs="0" maxOccurs="unbounded"/>
					</xs:sequence>
				</xs:extension>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="query" type="ops:queryType">
		<xs:annotation>
			<xs:documentation>A query in a language, defined by a "syntax" atribute.</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="family-retrieval" type="ops:any-referenceType-with-biblio">
		<xs:annotation>
			<xs:documentation>The root element for a request for an INPADOC family.</xs:documentation>
		</xs:annotation>
		<!-- [agr] OPSLEVLEX-152: family-and-legal service has with-biblio attribute -->
	</xs:element>
	<xs:element name="family-and-biblio-retrieval" type="ops:any-referenceType">
		<xs:annotation>
			<xs:documentation>The root element for a request for an INPADOC family including bibliographic data for each family
				member.</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="family-and-legal-retrieval" type="ops:any-referenceType-with-biblio">
		<xs:annotation>
			<xs:documentation>The root element for a request for an INPADOC family including legal data for all family members.
			</xs:documentation>
		</xs:annotation>
		<!-- [agr] OPSLEVLEX-152: family-and-legal service has with-biblio attribute -->
	</xs:element>
	<xs:element name="family-and-legal-and-biblio-retrieval" type="ops:any-referenceType">
		<xs:annotation>
			<xs:documentation>The root element for a request for an INPADOC family including legal and bibliographic data for all
				family members.</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="legal-retrieval" type="ops:any-referenceType-with-biblio">
		<xs:annotation>
			<xs:documentation>The root element for a request for legal data.</xs:documentation>
		</xs:annotation>
		<!-- [agr] OPSLEVLEX-152: legal service has with-biblio attribute -->
	</xs:element>
	<xs:element name="legal-and-biblio-retrieval" type="ops:any-referenceType">
		<xs:annotation>
			<xs:documentation>The root element for a request for legal and bibliographic data.</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="range" type="ops:rangeType">
		<xs:annotation>
			<xs:documentation>Specifies a range of elements.</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="meta">
		<xs:complexType>
			<xs:attribute name="name" type="xs:string" use="required"/>
			<xs:attribute name="value" type="xs:string" use="required"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="world-patent-data">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="ops:meta" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element ref="ops:patent-family" minOccurs="0"/>
				<xs:element ref="ops:document-retrieval" minOccurs="0"/>
				<!--
					[agr] OPSLEVELX-123: in case of bulk retrieval, all images related to single input reference are grouped within one
					document-inquiry element
				-->
				<xs:element ref="ops:document-inquiry" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element ref="ops:equivalents-inquiry" minOccurs="0"/>
				<xs:element ref="ops:fulltext-inquiry" minOccurs="0"/>
				<xs:element ref="ftxt:fulltext-documents" minOccurs="0"/>
				<xs:element ref="exch:exchange-documents" minOccurs="0"/>
				<xs:element ref="ops:biblio-search" minOccurs="0"/>
				<xs:element ref="ops:standardization" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:complexType name="patent-familyType">
		<xs:complexContent>
			<xs:extension base="ops:any-referenceType">
				<xs:sequence>
					<xs:element ref="ops:family-member" minOccurs="0" maxOccurs="unbounded"/>
				</xs:sequence>
				<xs:attribute name="legal" type="xs:boolean" use="required"/>
				<xs:attribute name="truncatedFamily" type="xs:boolean" default="false"/>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:element name="patent-family" type="ops:patent-familyType"/>
	<xs:element name="family-member">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="exch:publication-reference" maxOccurs="2"/>
				<xs:element ref="exch:application-reference"/>
				<xs:element ref="exch:priority-claim" maxOccurs="unbounded"/>
				<xs:element ref="ops:legal" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element ref="exch:exchange-document" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="desc" type="ops:description-type"/>
	<xs:simpleType name="description-type">
		<xs:annotation>
			<xs:documentation>The description of the kind of document returned.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:enumeration value="Drawing"/>
			<xs:enumeration value="FirstPageClipping"/>
			<xs:enumeration value="FullDocument"/>
			<xs:enumeration value="FirstPageImage"/>
			<xs:enumeration value="UNKNOWN"/>
			<!-- Correction of defect OPSLEVELX-97 -->
		</xs:restriction>
	</xs:simpleType>
	<xs:element name="content-ref">
		<xs:annotation>
			<xs:documentation>The reference name of the attached binary document</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="inquiry-result">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="exch:publication-reference"/>
				<!-- OPSLEVELX-122: exchange-documents required for bibliographic data -->
				<xs:element ref="exch:exchange-documents" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element ref="ops:document-instance" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element ref="ops:fulltext-instance" minOccurs="0" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="document-instance">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="ops:document-format-options"/>
				<xs:element ref="ops:document-section" minOccurs="0" maxOccurs="unbounded"/>
			</xs:sequence>
			<xs:attribute name="system" type="xs:string" use="required"/>
			<xs:attribute name="id" type="xs:string" use="required"/>
			<xs:attribute name="number-of-pages" type="xs:nonNegativeInteger" use="required"/>
			<xs:attribute name="desc" type="ops:description-type" use="required"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="document-format-options">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="ops:document-format" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="document-format" type="ops:document-formatType">
		<xs:annotation>
			<xs:documentation>Contains a possible format for a document</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="fulltext-instance">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="ops:fulltext-format-options"/>
			</xs:sequence>
			<xs:attribute name="system" type="xs:string" use="required"/>
			<xs:attribute name="lang" type="xs:string" use="optional"/>
			<xs:attribute name="desc" type="xs:string" use="required"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="fulltext-format-options">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="ops:fulltext-format" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="fulltext-format">
		<xs:annotation>
			<xs:documentation>Contains a possible format for a fulltext</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:simpleContent>
				<xs:extension base="ops:fulltext-formatType"/>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="document-section">
		<xs:annotation>
			<xs:documentation>Gives information on a certain section of a document.
				'name' is the name of the section.
				'startPage' is the first page that contains this section in the document.</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:attribute name="name" type="ops:sectionNameType" use="required"/>
			<xs:attribute name="start-page" type="xs:nonNegativeInteger" use="required"/>
		</xs:complexType>
	</xs:element>
	<xs:simpleType name="sectionNameType">
		<xs:restriction base="xs:NMTOKEN">
			<xs:enumeration value="ABSTRACT"/>
			<xs:enumeration value="AMENDMENT"/>
			<xs:enumeration value="BIBLIOGRAPHY"/>
			<xs:enumeration value="CLAIMS"/>
			<xs:enumeration value="DESCRIPTION"/>
			<xs:enumeration value="DRAWINGS"/>
			<xs:enumeration value="SEARCH_REPORT"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:element name="search-result">
		<!--
			[agr] OPSLEVELX-120: search result can have now either: 1) a list of publication references, or 2) a list of
			exchange-documents nodes
		-->
		<xs:complexType>
			<xs:complexContent>
				<xs:extension base="ops:publication-reference-listType">
					<xs:sequence>
						<xs:element ref="exch:exchange-documents" minOccurs="0" maxOccurs="unbounded"/>
					</xs:sequence>
				</xs:extension>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="standardization" type="ops:standardizationType"/>
	<xs:complexType name="standardizationType">
		<xs:annotation>
			<xs:documentation>This element describes a standardization output with 2 majour parameters : input reference and
				output reference.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="input" type="ops:any-referenceType" minOccurs="1" maxOccurs="1"/>
			<xs:element name="output" type="ops:any-referenceType" minOccurs="0" maxOccurs="1"/>
		</xs:sequence>
		<xs:attribute name="inputFormat" type="ops:dataFormatType"  use="required"/>
		<xs:attribute name="outputFormat" type="ops:dataFormatType"  use="required"/>
	</xs:complexType>
	<xs:simpleType name="dataFormatType">
		<xs:annotation>
			<xs:documentation>Enumeration mich contains a list of all data formats supported by OPS.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:enumeration value="docdb"/>
			<xs:enumeration value="epodoc"/>
			<xs:enumeration value="original"/>
		</xs:restriction>
	</xs:simpleType>
</xs:schema>
