performance-scripts/greg/Jmeter-scripts-crud/wadl/bing.wadl

<?xml version="1.0" encoding="UTF-8"?>
<application xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema"
             xmlns:apigee="http://api.apigee.com/wadl/2010/07/" xmlns="http://wadl.dev.java.net/2009/02"
             xsi:schemaLocation="http://wadl.dev.java.net/2009/02 http://apigee.com/schemas/wadl-schema.xsd    http://api.apigee.com/wadl/2010/07/ http://apigee.com/schemas/apigee-wadl-extensions.xsd">
    <resources base="http://api.search.live.net">
        <resource path="/{format}.aspx?sources=web%26query={query}">
            <param name="query" required="true" type="xsd:string" style="query" default="sushi"/>
            <param name="sources" required="true" type="xsd:string" style="query" default="web"/>
            <param name="format" required="true" type="xsd:string" style="template" default="json"/>
            <method id="web_search" name="GET" apigee:displayName="Web">
                <apigee:tags xmlns:apigee="http://api.apigee.com/wadl/2010/07/">
                    <apigee:tag primary="true">Search</apigee:tag>
                </apigee:tags>
                <apigee:authentication xmlns:apigee="http://api.apigee.com/wadl/2010/07/" required="true"/>
                <apigee:example xmlns:apigee="http://api.apigee.com/wadl/2010/07/"
                                url="/{format}.aspx?sources=web%26query={query}"/>
                <doc xmlns:apigee="http://api.apigee.com/wadl/2010/07/" title=""
                     apigee:url="http://msdn.microsoft.com/en-us/library/dd250845.aspx">
                    <![CDATA[Searches for web content]]></doc>
            </method>
        </resource>
  
        <resource path="/{format}.aspx?sources=image%26query={query}">
            <param name="query" required="true" type="xsd:string" style="query" default="sushi"/>
            <param name="sources" required="true" type="xsd:string" style="query" default="image"/>
            <param name="format" required="true" type="xsd:string" style="template" default="json"/>
            <method id="image_search" name="GET" apigee:displayName="Image">
                <apigee:tags xmlns:apigee="http://api.apigee.com/wadl/2010/07/">
                    <apigee:tag primary="true">Search</apigee:tag>
                </apigee:tags>
                <apigee:authentication xmlns:apigee="http://api.apigee.com/wadl/2010/07/" required="true"/>
                <apigee:example xmlns:apigee="http://api.apigee.com/wadl/2010/07/"
                                url="/{format}.aspx?sources=image%26query={query}"/>
                <doc xmlns:apigee="http://api.apigee.com/wadl/2010/07/" title=""
                     apigee:url="http://msdn.microsoft.com/en-us/library/dd250942.aspx">
                    <![CDATA[Searches for images on the web]]></doc>
            </method>
        </resource>
       
        <resource path="/{format}.aspx?sources=news%26query={query}">
            <param name="query" required="true" type="xsd:string" style="query" default="sushi"/>
            <param name="sources" required="true" type="xsd:string" style="query" default="news"/>
            <param name="format" required="true" type="xsd:string" style="template" default="json"/>
            <method id="news_search" name="GET" apigee:displayName="News">
                <apigee:tags xmlns:apigee="http://api.apigee.com/wadl/2010/07/">
                    <apigee:tag primary="true">Search</apigee:tag>
                </apigee:tags>
                <apigee:authentication xmlns:apigee="http://api.apigee.com/wadl/2010/07/" required="true"/>
                <apigee:example xmlns:apigee="http://api.apigee.com/wadl/2010/07/"
                                url="/{format}.aspx?sources=news%26query={query}"/>
                <doc xmlns:apigee="http://api.apigee.com/wadl/2010/07/" title=""
                     apigee:url="http://msdn.microsoft.com/en-us/library/dd250884.aspx">
                    <![CDATA[Searches news stories]]></doc>
            </method>
        </resource>
       
        <resource path="/{format}.aspx?sources=instantanswer%26query={query}">
            <param name="query" required="true" type="xsd:string" style="query" default="sushi"/>
            <param name="sources" required="true" type="xsd:string" style="query" default="instantanswer"/>
            <param name="format" required="true" type="xsd:string" style="template" default="json"/>
            <method id="instantanswer_search" name="GET" apigee:displayName="InstantAnswer">
                <apigee:tags xmlns:apigee="http://api.apigee.com/wadl/2010/07/">
                    <apigee:tag primary="true">Search</apigee:tag>
                </apigee:tags>
                <apigee:authentication xmlns:apigee="http://api.apigee.com/wadl/2010/07/" required="true"/>
                <apigee:example xmlns:apigee="http://api.apigee.com/wadl/2010/07/"
                                url="/{format}.aspx?sources=instantanswer%26query={query}"/>
                <doc xmlns:apigee="http://api.apigee.com/wadl/2010/07/" title=""
                     apigee:url="http://www.bing.com/developers/s/API%20Basics.pdf">
                    <![CDATA[Searches Encarta online]]></doc>
            </method>
        </resource>
        
        <resource path="/{format}.aspx?sources=spell%26query={query}">
            <param name="query" required="true" type="xsd:string" style="query" default="sushi"/>
            <param name="sources" required="true" type="xsd:string" style="query" default="spell"/>
            <param name="format" required="true" type="xsd:string" style="template" default="json"/>
            <method id="spell_search" name="GET" apigee:displayName="Encarta">
                <apigee:tags xmlns:apigee="http://api.apigee.com/wadl/2010/07/">
                    <apigee:tag primary="true">Search</apigee:tag>
                </apigee:tags>
                <apigee:authentication xmlns:apigee="http://api.apigee.com/wadl/2010/07/" required="true"/>
                <apigee:example xmlns:apigee="http://api.apigee.com/wadl/2010/07/"
                                url="/{format}.aspx?sources=spell%26query={query}"/>
                <doc xmlns:apigee="http://api.apigee.com/wadl/2010/07/" title=""
                     apigee:url="http://msdn.microsoft.com/en-us/library/dd251071.aspx">
                    <![CDATA[Searches Encarta dictionary for spelling suggestions]]></doc>
            </method>
        </resource>
        
        <resource path="/{format}.aspx?sources=phonebook%26query={query}"> 
            <param name="query" required="true" type="xsd:string" style="query" default="sushi"/>
            <param name="sources" required="true" type="xsd:string" style="query" default="phonebook"/>
            <param name="format" required="true" type="xsd:string" style="template" default="json"/>
            <method id="phonebook_search" name="GET" apigee:displayName="Phonebook">
                <apigee:tags xmlns:apigee="http://api.apigee.com/wadl/2010/07/">
                    <apigee:tag primary="true">Search</apigee:tag>
                </apigee:tags>
                <apigee:authentication xmlns:apigee="http://api.apigee.com/wadl/2010/07/" required="true"/>
                <apigee:example xmlns:apigee="http://api.apigee.com/wadl/2010/07/"
                                url="/{format}.aspx?sources=phonebook%26query={query}"/>
                <doc xmlns:apigee="http://api.apigee.com/wadl/2010/07/" title=""
                     apigee:url="http://msdn.microsoft.com/en-us/library/dd251005.aspx">
                    <![CDATA[Searches phonebook entries]]></doc>
            </method>
        </resource>
 
        <resource path="/{format}.aspx?sources=relatedsearch%26query={query}">
            <param name="query" required="true" type="xsd:string" style="query" default="sushi"/>
            <param name="sources" required="true" type="xsd:string" style="query" default="relatedsearch"/>
            <param name="format" required="true" type="xsd:string" style="template" default="json"/>
            <method id="relatedsearch_search1" name="GET" apigee:displayName="Related"> 
                <apigee:tags xmlns:apigee="http://api.apigee.com/wadl/2010/07/">
                    <apigee:tag primary="true">Search</apigee:tag>
                </apigee:tags>
                <apigee:authentication xmlns:apigee="http://api.apigee.com/wadl/2010/07/" required="true"/>
                <apigee:example xmlns:apigee="http://api.apigee.com/wadl/2010/07/"
                                url="/{format}.aspx?sources=relatedsearch%26query={query}"/>
                <doc xmlns:apigee="http://api.apigee.com/wadl/2010/07/" title=""
                     apigee:url="http://msdn.microsoft.com/en-us/library/dd250898.aspx">
                    <![CDATA[Returns the query strings most similar to yours]]></doc>
            </method>
        </resource>

        <resource path="/{format}.aspx?sources=ad%26query={query}">	
            <param name="query" required="true" type="xsd:string" style="query" default="sushi"/>
            <param name="sources" required="true" type="xsd:string" style="query" default="ad"/>
            <param name="format" required="true" type="xsd:string" style="template" default="json"/>
            <method id="ad_search" name="GET" apigee:displayName="Ad">
                <apigee:tags xmlns:apigee="http://api.apigee.com/wadl/2010/07/">
                    <apigee:tag primary="true">Search</apigee:tag>
                </apigee:tags>
                <apigee:authentication xmlns:apigee="http://api.apigee.com/wadl/2010/07/" required="true"/>
                <apigee:example xmlns:apigee="http://api.apigee.com/wadl/2010/07/"
                                url="/{format}.aspx?sources=ad%26query={query}&amp;Ad.PageNumber={pageNumber}&amp;Ad.AdUnitId={unitId}&amp;Ad.PropertyId={propertyId}"/>
                <doc xmlns:apigee="http://api.apigee.com/wadl/2010/07/" title=""
                     apigee:url="http://msdn.microsoft.com/en-us/library/dd251068.aspx">
                    <![CDATA[Returns advertisements to incorporate with results]]></doc>
            </method>
        </resource>

        <resource path="/{format}.aspx?sources=web+image%26query={query}">
            <param name="query" required="true" type="xsd:string" style="query" default="sushi"/>
            <param name="sources" required="true" type="xsd:string" style="query" default="web+images"/>
            <param name="format" required="true" type="xsd:string" style="template" default="json"/>
            <method id="relatedsearch_search2" name="GET" apigee:displayName="MultipleSources">
                <apigee:tags xmlns:apigee="http://api.apigee.com/wadl/2010/07/">
                    <apigee:tag primary="true">Search</apigee:tag>
                </apigee:tags>
                <apigee:authentication xmlns:apigee="http://api.apigee.com/wadl/2010/07/" required="true"/>
                <apigee:example xmlns:apigee="http://api.apigee.com/wadl/2010/07/" url="/{format}.aspx?sources=web+image%26query={query}"/>
                <doc xmlns:apigee="http://api.apigee.com/wadl/2010/07/" title=""
                     apigee:url="http://msdn.microsoft.com/en-us/library/dd250898.aspx"><![CDATA[To request results from multiple SourceTypes, separate the SourceType names with a plus (+)
                    sign
                ]]></doc>
            </method>
        </resource> 
             
    </resources>   
</application>