performance-scripts/greg/Jmeter-scripts-crud/wadl/bitly.wadl

<application xmlns="http://wadl.dev.java.net/2009/02"
             xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
             xmlns:xsd="http://www.w3.org/2001/XMLSchema"
             xmlns:apigee="http://api.apigee.com/wadl/2010/07/"
             xsi:schemaLocation="http://wadl.dev.java.net/2009/02 http://apigee.com/schemas/wadl-schema.xsd http://api.apigee.com/wadl/2010/07/ http://apigee.com/schemas/apigee-wadl-extensions.xsd">

    <resources base="http://api.bitly.com">

        <!-- Links -->

        <resource path="/v3/shorten">
            <method id="shorten" name="GET" apigee:displayName="shorten">
                <apigee:tags>
                    <apigee:tag primary="true">Links</apigee:tag>
                </apigee:tags>

                <apigee:authentication required="true"/>

                <apigee:example url="/v3/shorten"/>

                <doc title="Bitly API Docs" apigee:url="http://code.google.com/p/bitly-api/wiki/ApiDocumentation">
                    <![CDATA[Creates a new shortened link.]]>
                </doc>

                <request>
                    <param name="format" type="xsd:string" style="query" required="false" default="json">
                        <option value="xml"/>
                        <option value="json"/>
                        <option value="txt"/>
                    </param>

                    <param name="longUrl" type="xsd:string" style="query" required="true">
                        <doc apigee:url="http://api.evdb.com/docs/events/new/">
                            <![CDATA[Long URL to be shortened.]]>
                        </doc>
                    </param>

                    <param name="domain" type="xsd:string" style="query" required="false" default="bit.ly">
                        <option value="bit.ly"/>
                        <option value="j.mp"/>
                        <option value="bitly.com"/>
                    </param>
                </request>

                <response>
                    <representation mediaType="application/xml"/>
                    <representation mediaType="application/json"/>
                    <representation mediaType="text/plain"/>
                </response>
            </method>
        </resource>

        <resource path="/v3/expand">
            <method id="expand" name="GET" apigee:displayName="expand">
                <apigee:tags>
                    <apigee:tag primary="true">Links</apigee:tag>
                </apigee:tags>

                <apigee:authentication required="true"/>

                <apigee:example url="/v3/expand"/>

                <doc title="Bitly API Docs" apigee:url="http://code.google.com/p/bitly-api/wiki/ApiDocumentation">
                    <![CDATA[Given a bitly URL or hash (or multiple), /v3/expand decodes it and returns back the target URL. ]]>
                </doc>

                <request>
                    <param name="format" type="xsd:string" style="query" required="false" default="json">
                        <option value="xml"/>
                        <option value="json"/>
                        <option value="txt"/>
                    </param>

                    <param name="shortUrl" type="xsd:string" style="query" required="false">
                        <doc>
                            <![CDATA[Short URL to be expanded.]]>
                        </doc>
                    </param>

                    <param name="hash" type="xsd:string" style="query" required="false">
                        <doc>
                            <![CDATA[Refers to one or more bitly hashes.]]>
                        </doc>
                    </param>
                </request>

                <response>
                    <representation mediaType="application/xml"/>
                    <representation mediaType="application/json"/>
                    <representation mediaType="text/plain"/>
                </response>
            </method>
        </resource>

        <resource path="/v3/bitly_pro_domain">
            <method id="bitly_pro_domain" name="GET" apigee:displayName="bitly_pro_domain">
                <apigee:tags>
                    <apigee:tag primary="true">Links</apigee:tag>
                </apigee:tags>

                <apigee:authentication required="true"/>

                <apigee:example url="/v3/bitly_pro_domain"/>

                <doc title="Bitly API Docs" apigee:url="http://code.google.com/p/bitly-api/wiki/ApiDocumentation">
                    <![CDATA[This is used to query whether a given short domain is assigned for bitly.Pro, and is consequently a valid shortUrl parameter for other api calls.]]>
                </doc>

                <request>
                    <param name="format" type="xsd:string" style="query" required="false" default="json">
                        <option value="xml"/>
                        <option value="json"/>
                        <option value="txt"/>
                    </param>

                    <param name="domain" type="xsd:string" style="query" required="true">
                        <doc>
                            <![CDATA[A short domain.]]>
                        </doc>
                    </param>
                </request>

                <response>
                    <representation mediaType="application/xml"/>
                    <representation mediaType="application/json"/>
                    <representation mediaType="text/plain"/>
                </response>
            </method>
        </resource>

        <resource path="/v3/lookup">
            <method id="lookup" name="GET" apigee:displayName="lookup">
                <apigee:tags>
                    <apigee:tag primary="true">Links</apigee:tag>
                </apigee:tags>

                <apigee:authentication required="true"/>

                <apigee:example url="/v3/lookup"/>

                <doc title="Bitly API Docs" apigee:url="http://code.google.com/p/bitly-api/wiki/ApiDocumentation">
                    <![CDATA[This is used to query for a bitly link based on a long URL.]]>
                </doc>

                <request>
                    <param name="format" type="xsd:string" style="query" required="false" default="json">
                        <option value="xml"/>
                        <option value="json"/>
                        <option value="txt"/>
                    </param>

                    <param name="url" type="xsd:string" style="query" required="true">
                        <doc>
                            <![CDATA[One or more long URLs to lookup.]]>
                        </doc>
                    </param>
                </request>

                <response>
                    <representation mediaType="application/xml"/>
                    <representation mediaType="application/json"/>
                    <representation mediaType="text/plain"/>
                </response>
            </method>
        </resource>

        <resource path="/v3/info">
            <method id="info" name="GET" apigee:displayName="info">
                <apigee:tags>
                    <apigee:tag primary="true">Links</apigee:tag>
                </apigee:tags>

                <apigee:authentication required="true"/>

                <apigee:example url="/v3/info"/>

                <doc title="Bitly API Docs" apigee:url="http://code.google.com/p/bitly-api/wiki/ApiDocumentation">
                    <![CDATA[This is used to return the page title for a given bitly link.]]>
                </doc>

                <request>
                    <param name="format" type="xsd:string" style="query" required="false" default="json">
                        <option value="xml"/>
                        <option value="json"/>
                        <option value="txt"/>
                    </param>

                    <param name="shortUrl" type="xsd:string" style="query" required="false">
                        <doc>
                            <![CDATA[Refers to one or more short URLs.]]>
                        </doc>
                    </param>

                    <param name="hash" type="xsd:string" style="query" required="false">
                        <doc>
                            <![CDATA[Refers to one or more bitly hashes.]]>
                        </doc>
                    </param>
                </request>

                <response>
                    <representation mediaType="application/xml"/>
                    <representation mediaType="application/json"/>
                    <representation mediaType="text/plain"/>
                </response>
            </method>
        </resource>

        <!-- Users -->

        <resource path="/v3/validate">
            <method id="validate" name="GET" apigee:displayName="validate">
                <apigee:tags>
                    <apigee:tag primary="true">Users</apigee:tag>
                </apigee:tags>

                <apigee:authentication required="true"/>

                <apigee:example url="/v3/validate"/>

                <doc title="Bitly API Docs" apigee:url="http://code.google.com/p/bitly-api/wiki/ApiDocumentation">
                    <![CDATA[For any given a bitly user login and apiKey, you can validate that the pair is active.]]>
                </doc>

                <request>
                    <param name="format" type="xsd:string" style="query" required="false" default="json">
                        <option value="xml"/>
                        <option value="json"/>
                        <option value="txt"/>
                    </param>

                    <param name="x_login" type="xsd:string" style="query" required="true">
                        <doc>
                            <![CDATA[The end user's bitly login (for validation).]]>
                        </doc>
                    </param>

                    <param name="x_apiKey" type="xsd:string" style="query" required="true">
                        <doc>
                            <![CDATA[The end user's bitly apiKey (for validation).]]>
                        </doc>
                    </param>
                </request>

                <response>
                    <representation mediaType="application/xml"/>
                    <representation mediaType="application/json"/>
                    <representation mediaType="text/plain"/>
                </response>
            </method>
        </resource>

        <!-- Clicks -->

        <resource path="/v3/clicks">
            <method id="clicks" name="GET" apigee:displayName="clicks">
                <apigee:tags>
                    <apigee:tag primary="true">Clicks</apigee:tag>
                </apigee:tags>

                <apigee:authentication required="true"/>

                <apigee:example url="/v3/clicks"/>

                <doc title="Bitly API Docs" apigee:url="http://code.google.com/p/bitly-api/wiki/ApiDocumentation">
                    <![CDATA[For one or more bitly URL's or hashes, you can generate statistics about the clicks on that link.]]>
                </doc>

                <request>
                    <param name="format" type="xsd:string" style="query" required="false" default="json">
                        <option value="xml"/>
                        <option value="json"/>
                        <option value="txt"/>
                    </param>

                    <param name="shortUrl" type="xsd:string" style="query" required="false">
                        <doc>
                            <![CDATA[Refers to one or more short URLs.]]>
                        </doc>
                    </param>

                    <param name="hash" type="xsd:string" style="query" required="false">
                        <doc>
                            <![CDATA[Refers to one or more bitly hashes.]]>
                        </doc>
                    </param>
                </request>

                <response>
                    <representation mediaType="application/xml"/>
                    <representation mediaType="application/json"/>
                    <representation mediaType="text/plain"/>
                </response>
            </method>
        </resource>

        <resource path="/v3/referrers">
            <method id="referrers" name="GET" apigee:displayName="referrers">
                <apigee:tags>
                    <apigee:tag primary="true">Clicks</apigee:tag>
                </apigee:tags>

                <apigee:authentication required="true"/>

                <apigee:example url="/v3/referrers"/>

                <doc title="Bitly API Docs" apigee:url="http://code.google.com/p/bitly-api/wiki/ApiDocumentation">
                    <![CDATA[Provides a list of referring sites for a specified bitly short link, and the number of clicks per referrer.]]>
                </doc>

                <request>
                    <param name="format" type="xsd:string" style="query" required="false" default="json">
                        <option value="xml"/>
                        <option value="json"/>
                        <option value="txt"/>
                    </param>

                    <param name="shortUrl" type="xsd:string" style="query" required="false">
                        <doc>
                            <![CDATA[Refers to one short URL.]]>
                        </doc>
                    </param>

                    <param name="hash" type="xsd:string" style="query" required="false">
                        <doc>
                            <![CDATA[Refers to one bitly hash.]]>
                        </doc>
                    </param>
                </request>

                <response>
                    <representation mediaType="application/xml"/>
                    <representation mediaType="application/json"/>
                    <representation mediaType="text/plain"/>
                </response>
            </method>
        </resource>

        <resource path="/v3/countries">
            <method id="countries" name="GET" apigee:displayName="countries">
                <apigee:tags>
                    <apigee:tag primary="true">Clicks</apigee:tag>
                </apigee:tags>

                <apigee:authentication required="true"/>

                <apigee:example url="/v3/countries"/>

                <doc title="Bitly API Docs" apigee:url="http://code.google.com/p/bitly-api/wiki/ApiDocumentation">
                    <![CDATA[Provides a list of countries from which clicks on a specified bitly short link have originated, and the number of clicks per country.]]>
                </doc>

                <request>
                    <param name="format" type="xsd:string" style="query" required="false" default="json">
                        <option value="xml"/>
                        <option value="json"/>
                        <option value="txt"/>
                    </param>

                    <param name="shortUrl" type="xsd:string" style="query" required="false">
                        <doc>
                            <![CDATA[Refers to one short URL.]]>
                        </doc>
                    </param>

                    <param name="hash" type="xsd:string" style="query" required="false">
                        <doc>
                            <![CDATA[Refers to one bitly hash.]]>
                        </doc>
                    </param>
                </request>

                <response>
                    <representation mediaType="application/xml"/>
                    <representation mediaType="application/json"/>
                    <representation mediaType="text/plain"/>
                </response>
            </method>
        </resource>

        <resource path="/v3/clicks_by_minute">
            <method id="clicksByMinute" name="GET" apigee:displayName="clicksByMinute">
                <apigee:tags>
                    <apigee:tag primary="true">Clicks</apigee:tag>
                </apigee:tags>

                <apigee:authentication required="true"/>

                <apigee:example url="/v3/clicks_by_minute"/>

                <doc title="Bitly API Docs" apigee:url="http://code.google.com/p/bitly-api/wiki/ApiDocumentation">
                    <![CDATA[For one or more bitly links, provides time series clicks per minute for the last hour in reverse chronological order (most recent to least recent).]]>
                </doc>

                <request>
                    <param name="format" type="xsd:string" style="query" required="false" default="json">
                        <option value="xml"/>
                        <option value="json"/>
                        <option value="txt"/>
                    </param>

                    <param name="shortUrl" type="xsd:string" style="query" required="false">
                        <doc>
                            <![CDATA[Refers to one or more short URLs.]]>
                        </doc>
                    </param>

                    <param name="hash" type="xsd:string" style="query" required="false">
                        <doc>
                            <![CDATA[Refers to one or more bitly hashes.]]>
                        </doc>
                    </param>
                </request>

                <response>
                    <representation mediaType="application/xml"/>
                    <representation mediaType="application/json"/>
                    <representation mediaType="text/plain"/>
                </response>
            </method>
        </resource>

        <resource path="/v3/clicks_by_day">
            <method id="clicksByDay" name="GET" apigee:displayName="clicksByDay">
                <apigee:tags>
                    <apigee:tag primary="true">Clicks</apigee:tag>
                </apigee:tags>

                <apigee:authentication required="true"/>

                <apigee:example url="/v3/clicks_by_day"/>

                <doc title="Bitly API Docs" apigee:url="http://code.google.com/p/bitly-api/wiki/ApiDocumentation">
                    <![CDATA[For one or more bitly links, provides time series clicks per day for the last 1-30 days in reverse chronological order (most recent to least recent).]]>
                </doc>

                <request>
                    <param name="format" type="xsd:string" style="query" required="false" default="json">
                        <option value="xml"/>
                        <option value="json"/>
                        <option value="txt"/>
                    </param>

                    <param name="shortUrl" type="xsd:string" style="query" required="false">
                        <doc>
                            <![CDATA[Refers to one or more short URLs.]]>
                        </doc>
                    </param>

                    <param name="hash" type="xsd:string" style="query" required="false">
                        <doc>
                            <![CDATA[Refers to one or more bitly hashes.]]>
                        </doc>
                    </param>

                    <param name="days" type="xsd:positiveInteger" style="query" required="false" default="7">
                        <doc>
                            <![CDATA[Specifies the number of days for which to retrieve click data, from 1 to 30 (default 7).]]>
                        </doc>
                    </param>
                </request>

                <response>
                    <representation mediaType="application/xml"/>
                    <representation mediaType="application/json"/>
                    <representation mediaType="text/plain"/>
                </response>
            </method>
        </resource>

    </resources>

    <resources base="https://api-ssl.bitly.com">
        <!-- User -->

        <resource path="/v3/user/clicks">
            <method id="user_clicks" name="GET" apigee:displayName="user/clicks">
                <apigee:tags>
                    <apigee:tag primary="true">User</apigee:tag>
                    <apigee:tag>Clicks</apigee:tag>
                </apigee:tags>

                <apigee:authentication required="true"/>

                <apigee:example url="/v3/user/clicks"/>

                <doc title="Bitly API Docs" apigee:url="http://code.google.com/p/bitly-api/wiki/ApiDocumentation">
                    <![CDATA[OAuth 2 endpoint that provides the total clicks per day on a user’s bitly links.]]>
                </doc>

                <request>
                    <param name="format" type="xsd:string" style="query" required="false" default="json">
                        <option value="xml"/>
                        <option value="json"/>
                        <option value="txt"/>
                    </param>

                    <param name="days" type="xsd:integer" style="query" required="false" default="7">
                        <doc>
                            <![CDATA[An integer value for the number of days (counting backwards from the current day) from which to retrieve data (min:1, max:30, default:7).]]>
                        </doc>
                    </param>
                </request>

                <response>
                    <representation mediaType="application/xml"/>
                    <representation mediaType="application/json"/>
                    <representation mediaType="text/plain"/>
                </response>
            </method>
        </resource>

        <resource path="/v3/user/referrers">
            <method id="user_referrers" name="GET" apigee:displayName="user/referrers">
                <apigee:tags>
                    <apigee:tag primary="true">User</apigee:tag>
                    <apigee:tag>Clicks</apigee:tag>
                </apigee:tags>

                <apigee:authentication required="true"/>

                <apigee:example url="/v3/user/referrers"/>

                <doc title="Bitly API Docs" apigee:url="http://code.google.com/p/bitly-api/wiki/ApiDocumentation">
                    <![CDATA[OAuth 2 endpoint that provides a list of top referrers (up to 500 per day) for a given user’s bitly links, and the number of clicks per referrer.]]>
                </doc>

                <request>
                    <param name="format" type="xsd:string" style="query" required="false" default="json">
                        <option value="xml"/>
                        <option value="json"/>
                        <option value="txt"/>
                    </param>

                    <param name="days" type="xsd:integer" style="query" required="false" default="7">
                        <doc>
                            <![CDATA[an integer value for the number of days (counting backwards from the current day) from which to retrieve data (min:1, max:30, default:7)]]>
                        </doc>
                    </param>
                </request>

                <response>
                    <representation mediaType="application/xml"/>
                    <representation mediaType="application/json"/>
                    <representation mediaType="text/plain"/>
                </response>
            </method>
        </resource>

        <resource path="/v3/user/countries">
            <method id="user_countries" name="GET" apigee:displayName="user/countries">
                <apigee:tags>
                    <apigee:tag primary="true">User</apigee:tag>
                    <apigee:tag>Clicks</apigee:tag>
                </apigee:tags>

                <apigee:authentication required="true"/>

                <apigee:example url="/v3/user/countries"/>

                <doc title="Bitly API Docs" apigee:url="http://code.google.com/p/bitly-api/wiki/ApiDocumentation">
                    <![CDATA[OAuth 2 endpoint that provides a list of countries from which clicks on a given user’s bitly links are originating, and the number of clicks per country.]]>
                </doc>

                <request>
                    <param name="format" type="xsd:string" style="query" required="false" default="json">
                        <option value="xml"/>
                        <option value="json"/>
                        <option value="txt"/>
                    </param>

                    <param name="days" type="xsd:integer" style="query" required="false" default="7">
                        <doc>
                            <![CDATA[an integer value for the number of days (counting backwards from the current day) from which to retrieve data (min:1, max:30, default:7)]]>
                        </doc>
                    </param>
                </request>

                <response>
                    <representation mediaType="application/xml"/>
                    <representation mediaType="application/json"/>
                    <representation mediaType="text/plain"/>
                </response>
            </method>
        </resource>

        <resource path="/v3/user/realtime_links">
            <method id="user_realtime_links" name="GET" apigee:displayName="user/realtime_links">
                <apigee:tags>
                    <apigee:tag primary="true">User</apigee:tag>
                    <apigee:tag>Clicks</apigee:tag>
                </apigee:tags>

                <apigee:authentication required="true"/>

                <apigee:example url="/v3/user/realtime_links"/>

                <doc title="Bitly API Docs" apigee:url="http://code.google.com/p/bitly-api/wiki/ApiDocumentation">
                    <![CDATA[OAuth 2 endpoint that provides a given user’s 100 most popular links based on click traffic in the past hour, and the number of clicks per link.]]>
                </doc>

                <request>
                    <param name="format" type="xsd:string" style="query" required="false" default="json">
                        <option value="xml"/>
                        <option value="json"/>
                        <option value="txt"/>
                    </param>
                </request>

                <response>
                    <representation mediaType="application/xml"/>
                    <representation mediaType="application/json"/>
                    <representation mediaType="text/plain"/>
                </response>
            </method>
        </resource>

    </resources>
</application>
