performance-scripts/greg/Jmeter-scripts-crud/wadl/groupon_api2.wadl

<?xml version="1.0" encoding="UTF-8"?>

<application xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema"
	xmlns:apigee="http://api.apigee.com/wadl/2010/07/" xmlns="http://wadl.dev.java.net/2009/02" xmlns:t="urn:groupon:grouponresponse"
	xsi:schemaLocation="http://wadl.dev.java.net/2009/02 http://apigee.com/schemas/wadl-schema.xsd http://api.apigee.com/wadl/2010/07/ http://apigee.com/schemas/apigee-wadl-extensions.xsd">
	
		<resources base="https://api.groupon.com/">
			<resource path="status.{format}">
				<param name="format" type="xsd:string" style="template" required="true" default="json">
					<option value="json" mediaType="application/json" />
				</param>
				<param name="client_id" required="false" type="xsd:string" style="query" default="enter_your_client_id_please"/>
				<param name="device_id" required="false" type="xsd:string" style="query" default=""/>
				<param name="user_agent" required="false" type="xsd:string" style="query" 	default="iPhone/1.0.4"/>
			  <method id="getApiVersion" apigee:displayName="GetStatusAndVersions" name="GET">
				<apigee:tags>
					<apigee:tag primary="true">Status</apigee:tag>
				</apigee:tags>
				<apigee:authentication required="false" />
				<apigee:example url="status.{format}" />
				<doc title="" apigee:url="https://api.groupon.com/status">
				Returns the status of Groupon's API and all the currently available versions of the API.
				</doc>
			  </method>
			</resource>
		
		
			<resource path="divisions.{format}">
				<param name="format" type="xsd:string" style="template" required="true" default="json">
					<option value="json" mediaType="application/json" />
					<option value="xml" mediaType="application/xml" />
				</param>
				<param name="client_id" required="true" type="xsd:string" style="query" default="enter_your_client_id_please"/>
				<param name="show" required="true" type="xsd:string" style="query" default="all"/>
				<method id="getDivisions" apigee:displayName="GetDivisions" name="GET">
				<apigee:tags>
					<apigee:tag primary="true">Divisions</apigee:tag>
				</apigee:tags>
				<apigee:authentication required="true" />
				<apigee:example url="v2/divisions.{format}" />
				<doc title="" apigee:url="https://api.groupon.com/v2/divisions">
					Returns the list of all launched divisions.
				</doc>
			  </method>
			</resource>
			
		  <resource path="groupon_says.{format}">
			<param name="format" type="xsd:string" style="template" required="true" default="json">
					<option value="json" mediaType="application/json" />
					<option value="xml" mediaType="application/xml" />
			</param>
			<param name="client_id" required="true" type="xsd:string" style="query" default="enter_your_client_id_please "/>
			<param name="limit" required="true" type="xsd:string" style="query" default="10"/>
			<param name="random" required="false" type="xsd:string" style="query" default="false"/>
		  <method id="getRecentCommentaries" apigee:displayName="GetGrouponSaysCommentaries" name="GET">
			<apigee:tags>
					<apigee:tag primary="true">Commentary</apigee:tag>
				</apigee:tags>
				<apigee:authentication required="true" />
				<apigee:example url="v2/groupon_says.{format}?limit={limit}" />
				<doc title="" apigee:url="https://api.groupon.com/v2/groupon_says">
					Returns the list of recent (or random) Groupon Says commentaries.
				</doc>
		  </method>
		 </resource>
	 
		
			<resource path="deals/{id}.{format}">
				<param name="id" required="true" type="xsd:string" style="query" default="paddy-longs-beer-pub-1" />
				<param name="format" type="xsd:string" style="template" required="true" default="json">
					<option value="json" mediaType="application/json" />
					<option value="xml" mediaType="application/xml" />
				</param>
				
				<param name="client_id" required="true" type="xsd:string" style="query" default="enter_your_client_id_please"/>
				<param name="show" required="true" type="xsd:string" style="query" default="all"/>
				<param name="email_address" required="false" type="xsd:string" style="query" default=""/>
				<param name="area" required="false" type="xsd:string" style="query" default="east-bay"/>
				<param name="referral_id" required="false" type="xsd:string" style="query" default="uu1234567"/>
			  <method id="getDeal" apigee:displayName="GetDeal" name="GET">
				<apigee:tags>
					<apigee:tag primary="true">Deals</apigee:tag>
				</apigee:tags>
				<apigee:authentication required="true" />
				<apigee:example url="v2/deals/{id}.{format}" />
				<doc title="" apigee:url="http://api.groupon.com/v2/deals">
					Returns the detailed information about a specified deal.
				</doc>
			  </method>
			</resource>
			
			<resource path="deals.{format}">
				<param name="format" type="xsd:string" style="template" required="true" default="json">
					<option value="json" mediaType="application/json" />
					<option value="xml" mediaType="application/xml" />
				</param>
				<param name="client_id" required="true" type="xsd:string" style="query" default="enter_your_client_id_please "/>
				<param name="show" required="true" type="xsd:string" style="query" default="all"/>
				<param name="email_address" required="false" type="xsd:string" style="query" default=""/>
				<param name="area" required="false" type="xsd:string" style="query" default="east-bay"/>
				<param name="lat" required="false" type="xsd:string" style="query" default="41.896579"/>
				<param name="lng" required="false" type="xsd:string" style="query" default="-87.643583"/>
				<param name="radius" required="false" type="xsd:string" style="query" default="100"/>
				<param name="division_id" required="false" type="xsd:string" style="query" default="chicago"/>
				<param name="device_token" required="false" type="xsd:string" style="query"/>
				<param name="subscriber_id " required="false" type="xsd:string" style="query"/>
				<param name="affiliate" required="false" type="xsd:string" style="query"/>
			  <method id="getDeals" apigee:displayName="GetDeals" name="GET">
				<apigee:tags>
					<apigee:tag primary="true">Deals</apigee:tag>
				</apigee:tags>
				<apigee:authentication required="true" />
				<apigee:example url="v2/deals.{format}?division_id={division_id}" />
				<doc title="" apigee:url="http://api.groupon.com/v2/deals">
					Returns an ordered list of deals that are currently launched for a specific division.
				</doc>
			  </method>
			</resource>
			
		<resource path="deals/{deal_id}/posts.{format}">
			<param name="format" type="xsd:string" style="template" required="true" default="json">
					<option value="json" mediaType="application/json" />
					<option value="xml" mediaType="application/xml" />
			</param>
			<param name="client_id" required="true" type="xsd:string" style="query" default="enter_your_client_id_please"/>
			<param name="deal_id" required="true" type="xsd:string" style="query" default="troya-restaurant-san-francisco"/>
		  <method id="getListedDealPosts" apigee:displayName="GetDealPosts" name="GET">
			<apigee:tags>
					<apigee:tag primary="true">Deals</apigee:tag>
				</apigee:tags>
				<apigee:authentication required="true" />
				<apigee:example url="v2/deals/{deal_id}/posts.{format}" />
				<doc title="" apigee:url="http://api.groupon.com/v2/deals">
					Returns the lists of all the discussion posts for the specified deal.
				</doc>
		  </method>
		</resource>
	   </resources>
		
		
</application>
