performance-scripts/greg/Jmeter-scripts-crud/wadl/milo.wadl

<application xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
  xmlns:xsd="http://www.w3.org/2001/XMLSchema"
  xmlns:apigee="http://api.apigee.com/wadl/2010/07/" 
  xmlns="http://wadl.dev.java.net/2009/02"
  xsi:schemaLocation="http://wadl.dev.java.net/2009/02 http://apigee.com/schemas/wadl-schema.xsd http://api.apigee.com/wadl/2010/07/ http://apigee.com/schemas/apigee-wadl-extensions.xsd">

  <!-- Base defines the domain and base path of the endpoint -->
  <resources base="https://api.x.com/milo/v3/">
 
    <resource path="Milo">
      <!-- Resources that are the same but have multiple verbs can have multiple method items in the WADL. -->
      <!-- Methods should each have a unique id. -->
      <!-- The attribute displayName can be used to control the name that appears in the list in the Console. -->
      <method id="store_addresses" name="GET" apigee:displayName="Store Addresses">
        <!-- Tags are used to organize the list of methods. Primary tag will list the default placement. -->
        <apigee:tags>
          <apigee:tag primary="true">Milo Endpoints</apigee:tag>
          <!--<apigee:tag>StoreAddresses</apigee:tag> -->
        </apigee:tags>

        <!-- Is authentication required for this method? -->
        <apigee:authentication required="false" />

        <!-- Example element is used to specify the sample URL to display in the Console's request URL field. -->
        <apigee:example url="store_addresses" />

        <!-- The content of the doc element is shown as a tooltip in the Console's method list. -->
	    <doc title="" apigee:url="http://www.milo.com/api-docs/endpoints.html">
		  The Store Addresses endpoint returns information about stores in a particular location. You must specify a location 
		 (see Specifying Location in Requests), and can optionally limit the results to stores from a particular merchant.
    </doc>
				<request>
				<param name="key" required="true" type="xsd:string" style="query" default="5d385058ba1e0f1046d0ff05c5795807">
	        <!-- Docs are optional, but recommended. -->
	        <doc>Get your API key from x.com</doc>
	      </param>

		  	<param name="postal_code" required="true" type="xsd:string" style="query" default="94031">
	        
	        <doc>Specifies the mandatory location to search for store addresses</doc>
	      </param>
	
				<param name="radius" required="true" type="xsd:string" style="query" default="10">
	        
	        <doc>Specifies the mandatory radius to search for store addresses [0..30]</doc>
	      </param>
					
				<param name="merchant_ids" required="false" type="xsd:string" style="query" default="1779,1609">
	        <!-- Docs are optional, but recommended. -->
	        <doc>Optional merchant IDs</doc>
	      </param>
	
				<param name="phones" required="false" type="xsd:string" style="query" default="9995551234,5551234567">
	        <!-- Docs are optional, but recommended. -->
	        <doc>Optional phone numbers</doc>
	      </param>
	
			</request>
      </method>

			<method id="products" name="GET" apigee:displayName="Products">
        <!-- Tags are used to organize the list of methods. Primary tag will list the default placement. -->
        <apigee:tags>
          <apigee:tag primary="true">Milo Endpoints</apigee:tag>
          <!--<apigee:tag>StoreAddresses</apigee:tag> -->
        </apigee:tags>

        <!-- Is authentication required for this method? -->
        <apigee:authentication required="false" />

        <!-- Example element is used to specify the sample URL to display in the Console's request URL field. -->
        <apigee:example url="products" />

        <!-- The content of the doc element is shown as a tooltip in the Console's method list. -->
	    <doc title="" apigee:url="http://www.milo.com/api-docs/endpoints.html">
		  The Products endpoint returns detailed product data. It accepts optional location parameters (see Specifying Location in Requests) 
		  and has two methods of specifying which products to return (by ID or by search parameters). 
		  You can also optionally specify a sort order and pagination options.
     </doc>
				<request>
				<param name="key" required="true" type="xsd:string" style="query" default="5d385058ba1e0f1046d0ff05c5795807">
	        <!-- Docs are optional, but recommended. -->
	        <doc>Get your API key from x.com</doc>
	      </param>

		  	<param name="q" required="false" type="xsd:string" style="query" default="iphone">
	        <!-- Docs are optional, but recommended. -->
	        <doc>Search string</doc>
	      </param>
	
				<param name="min_price" required="false" type="xsd:string" style="query" default="13500">
	        <!-- Docs are optional, but recommended. -->
	        <doc>Minimum price in cents</doc>
	      </param>
	
				<param name="max_price" required="false" type="xsd:string" style="query" default="35000">
	        <!-- Docs are optional, but recommended. -->
	        <doc>Maximum price in cents</doc>
	      </param>
	
				<param name="min_rating" required="false" type="xsd:string" style="query" default="1">
	        <!-- Docs are optional, but recommended. -->
	        <doc>Minimum rating (0 to 5)</doc>
	      </param>
	
				<param name="max_rating" required="false" type="xsd:string" style="query" default="5">
	        <!-- Docs are optional, but recommended. -->
	        <doc>Maximum rating (0 to 5)</doc>
	      </param>
				
				<param name="category_ids" required="false" type="xsd:string" style="query" default="3,5,67">
	        <!-- Docs are optional, but recommended. -->
	        <doc>Comma separated category IDs</doc>
	      </param>
	
				<param name="merchant_ids" required="false" type="xsd:string" style="query" default="1779,1609">
	        <!-- Docs are optional, but recommended. -->
	        <doc>Comma separated merchant IDs</doc>
	      </param>
				
				<param name="on_sale" required="false" type="xsd:string" style="query" default="false">
	        <!-- Docs are optional, but recommended. -->
	        <doc>Is the item on sale</doc>
					<option value="true"/>
          <option value="false"/>
	      </param>
				<param name="is_deal" required="false" type="xsd:string" style="query" default="false">
	        <!-- Docs are optional, but recommended. -->
	        <doc>Is the item on deal</doc>
					<option value="true"/>
          <option value="false"/>
	      </param>
	
				<param name="sort_by" required="false" type="xsd:string" style="query" default="relevance">
	        <!-- Docs are optional, but recommended. -->
	        <doc>The default sort order is descending</doc>
					<option value="price"/>
          <option value="rating"/>
					<option value="relevance"/>
	      </param>
	
				<param name="page" required="false" type="xsd:string" style="query" default="0">
	        <!-- Docs are optional, but recommended. -->
	        <doc>Page number (positive integer)</doc>
	      </param>
				<param name="per_page" required="false" type="xsd:string" style="query" default="20">
	        <!-- Docs are optional, but recommended. -->
	        <doc>Results per page greater than zero. Default 20</doc>
	      </param>
			
				<param name="show" required="false" style="query" type="xsd:string" default="SaleBrandPidEpidPurlMidsSpecDesc">
					<doc>Controls the fields to display</doc>
				</param>
			</request>
      </method>

		
     
			<method id="availability" name="GET" apigee:displayName="Availability">
        <apigee:tags>
          <apigee:tag primary="true">Milo Endpoints</apigee:tag>
        </apigee:tags>

        <apigee:authentication required="false" />

       <apigee:example url="availability" />

       <doc title="" apigee:url="http://www.milo.com/api-docs/endpoints.html">
		  The Store Addresses endpoint returns information about stores in a particular location. You must specify a location 
		 (see Specifying Location in Requests), and can optionally limit the results to stores from a particular merchant.
    </doc>
				<request>
				<param name="key" required="true" type="xsd:string" style="query" default="5d385058ba1e0f1046d0ff05c5795807">
	       <doc>Get your API key from x.com</doc>
	      </param>

		  	<param name="product_id" required="true" type="xsd:string" style="query" default="9418020">
	        <doc>Mandatory product ID</doc>
	      </param>
					
					<param name="postal_code" required="true" type="xsd:string" style="query" default="94587">
		        <doc>Specifies the mandatory location to search for store addresses</doc>
		      </param>
		
					<param name="callback" required="true" type="xsd:string" style="query" default="showCallback">
		        <doc>Callback function</doc>
		      </param>
	
			</request>
      </method>
			
    </resource>

    
  </resources>
</application>
