performance-scripts/greg/Jmeter-scripts-crud/wadl/Permissions_API.wadl

<?xml version="1.0" encoding="UTF-8"?>
<application xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema"
             xmlns:apigee="http://api.apigee.com/wadl/2010/07/" xmlns="http://wadl.dev.java.net/2009/02"
             xsi:schemaLocation="http://wadl.dev.java.net/2009/02 http://apigee.com/schemas/wadl-schema.xsd http://api.apigee.com/wadl/2010/07/ http://apigee.com/schemas/apigee-wadl-extensions.xsd">

    <resources base="https://svcs.sandbox.paypal.com">
    
        <resource path="/Permissions/RequestPermissions">
			<method id="RequestPermissions" name="POST" apigee:displayName="RequestPermissions">
				<apigee:tags>
					<apigee:tag primary="true">Permissions</apigee:tag>
				</apigee:tags>
				<apigee:authentication required="true" />
				<apigee:example url="/Permissions/RequestPermissions" />
		
                <doc title="" apigee:url="https://www.x.com/developers/paypal/products/permissions"><![CDATA[Request Permissions
				]]></doc>
                <request >
                    <representation>
                        <apigee:payload><![CDATA[
{
"scope" : "EXPRESS_CHECKOUT",
"callback" : "http://apigee.com/console/-1/handlePaypalReturn",
"requestEnvelope" : {"errorLanguage":"en_US", "detailLevel":"ReturnAll"}
}
]]></apigee:payload>
                    </representation>
                </request>
            </method>
        </resource>
        
		
       	<resource path="/Permissions/GetAccessToken">
			<method id="GetAccessToken" name="POST" apigee:displayName="GetAccessToken">
				<apigee:tags>
					<apigee:tag primary="true">Permissions</apigee:tag>
				</apigee:tags>
				<apigee:authentication required="true" />
				<apigee:example url="/Permissions/GetAccessToken" />
		
			
                <doc  title="" apigee:url="https://www.x.com/developers/paypal/products/permissions"><![CDATA[Get Access token
					]]></doc>
                <request>
                    <representation>
                        <apigee:payload><![CDATA[
{
"token" : "AAAAAAAVLxrS3ieesPab",
"verifier" : "fUhgBNPzSByW9W6nOyqIgQ",
"requestEnvelope" : {"errorLanguage":"en_US", "detailLevel":"ReturnAll"}
}
]]></apigee:payload>
                    </representation>
                </request>
            </method>
        </resource>   
	   
	   
   		<resource path="/Permissions/GetPermissions">
			<method id="GetPermissions" name="POST" apigee:displayName="GetPermissions">
				<apigee:tags>
					<apigee:tag primary="true">Permissions</apigee:tag>
				</apigee:tags>
				<apigee:authentication required="true" />
				<apigee:example url="/Permissions/GetPermissions" />
		
			
                <doc  title="" apigee:url="https://www.x.com/developers/paypal/products/permissions"><![CDATA[Get Access token
					]]></doc>
                <request>
                    <representation>
                        <apigee:payload><![CDATA[
{
"token" : "ycqryLnQOwtPKFwsxkH29I53dLeeX1PdNV6I0hpwrcGk8FeG-zjkbg",
"requestEnvelope" : {"errorLanguage":"en_US", "detailLevel":"ReturnAll"}
}
]]></apigee:payload>
                    </representation>
                </request>
            </method>
        </resource>        
		
		
		<resource path="/Permissions/CancelPermissions">
			<method id="CancelPermissions" name="POST" apigee:displayName="CancelPermissions">
				<apigee:tags>
					<apigee:tag primary="true">Permissions</apigee:tag>
				</apigee:tags>
				<apigee:authentication required="true" />
				<apigee:example url="/Permissions/CancelPermissions" />
		
		
                <doc title=""  apigee:url="https://www.x.com/developers/paypal/products/permissions"><![CDATA[Cancel Permissions
					]]></doc>
                <request>
                    <representation>
                        <apigee:payload><![CDATA[
{
"token" : "CzPgOILULytPKEpfxkH29I53dLM0-Tl2oF-CEXISVtxFV51QXx31zA",
"requestEnvelope" : {"errorLanguage":"en_US", "detailLevel":"ReturnAll"}
}
]]></apigee:payload>
                    </representation>
                </request>
            </method>
        </resource>    
		
		
		
		<resource path="/Permissions/GetBasicPersonalData">
			<method id="GetBasicPersonalData" name="POST" apigee:displayName="GetBasicPersonalData">
				<apigee:tags>
					<apigee:tag primary="true">Permissions</apigee:tag>
				</apigee:tags>
				<apigee:authentication required="true" />
				<apigee:example url="/Permissions/GetBasicPersonalData" />
		
		
                <doc title=""  apigee:url="https://www.x.com/developers/paypal/products/permissions"><![CDATA[Cancel Permissions
					]]></doc>
                <request>
                    <representation>
                        <apigee:payload><![CDATA[
{
"attributeList" : [{"attribute""http://axschema.org/contact/email"}],
"requestEnvelope" : {"errorLanguage":"en_US", "detailLevel":"ReturnAll"}
}
]]></apigee:payload>
                    </representation>
                </request>
            </method>
        </resource>   
		
		
			<resource path="/Permissions/GetAdvancedPersonalData">
			<method id="GetAdvancedPersonalData" name="POST" apigee:displayName="GetAdvancedPersonalData">
				<apigee:tags>
					<apigee:tag primary="true">Permissions</apigee:tag>
				</apigee:tags>
				<apigee:authentication required="true" />
				<apigee:example url="/Permissions/GetAdvancedPersonalData" />
		
		
                <doc title=""  apigee:url="https://www.x.com/developers/paypal/products/permissions"><![CDATA[Cancel Permissions
					]]></doc>
                <request>
                    <representation>
                        <apigee:payload><![CDATA[
{
"attributeList" : [{"attribute""http://axschema.org/birthDate", "attribute""http://axschema.org/contact/postalCode/home"}],
"requestEnvelope" : {"errorLanguage":"en_US", "detailLevel":"ReturnAll"}
}
]]></apigee:payload>
                    </representation>
                </request>
            </method>
        </resource>       
        
    </resources>
</application>