performance-scripts/greg/Jmeter-scripts-crud/wadl/twilio.wadl

<application xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:apigee="http://api.apigee.com/wadl/2010/07/" xmlns="http://wadl.dev.java.net/2009/02" xsi:schemaLocation="http://wadl.dev.java.net/2009/02 http://apigee.com/schemas/wadl-schema.xsd http://api.apigee.com/wadl/2010/07/ http://apigee.com/schemas/apigee-wadl-extensions.xsd">

	<resources base="https://api.twilio.com/2010-04-01/Accounts">

		<resource path="/{AccountSid}.{format}">
			<param name="format" type="xsd:string" style="template" required="true" default="xml">
				<option value="xml" mediaType="application/xml"/>
				<option value="json" mediaType="application/json"/>
			</param>
			<param name="AccountSid" required="true" type="xsd:string" style="template">
				<doc>Represents the unique id of the Account</doc>
			</param>
			<method id="getAccount" name="GET" apigee:displayName="GetAccount">
				<apigee:tags>
					<apigee:tag primary="true">Accounts</apigee:tag>
					<apigee:tag>Objects</apigee:tag>
				</apigee:tags>
				<apigee:authentication required="true"/>
				<apigee:example url="/{AccountSid}"/>
				<doc title="" apigee:url="http://www.twilio.com/docs/api/2010-04-01/rest/account"><![CDATA[Returns the account details for the {AccountSid}.]]></doc>
			</method>
		</resource>

		<resource path="/{AccountSid}.{format}">
			<param name="format" type="xsd:string" style="template" required="true" default="xml">
				<option value="xml" mediaType="application/xml"/>
				<option value="json" mediaType="application/json"/>
			</param>
			<param name="AccountSid" required="true" type="xsd:string" style="template">
				<doc>Represents the unique id of the Account</doc>
			</param>
			<param name="FriendlyName" required="false" type="xsd:string" style="query">
				<doc>The human-readable description of an account.</doc>
			</param>
			<method id="updateFriendlyNameByPost" name="POST" apigee:displayName="UpdateFriendlyName (POST)">
				<apigee:tags>
					<apigee:tag primary="true">Accounts</apigee:tag>
					<apigee:tag>Objects</apigee:tag>
				</apigee:tags>
				<apigee:authentication required="true"/>
				<apigee:example url="/{AccountSid}"/>
				<doc title="" apigee:url="http://www.twilio.com/docs/api/2010-04-01/rest/account"><![CDATA[Allows you to modify the 'FriendlyName' for the {AccountSid} via POST.]]></doc>
			    <request>
				   <param name="Content-Type" type="string" style="header" required="true" default="application/x-www-form-urlencoded"/>
                   <param name="FriendlyName" type="string" style="query" required="true" default=""/>
                </request>
            </method>
		</resource>

		<resource path="/{AccountSid}.{format}">
			<param name="format" type="xsd:string" style="template" required="true" default="xml">
				<option value="xml" mediaType="application/xml"/>
				<option value="json" mediaType="application/json"/>
			</param>
			<param name="AccountSid" required="true" type="xsd:string" style="template">
				<doc>Represents the unique id of the Account</doc>
			</param>
			<param name="FriendlyName" required="false" type="xsd:string" style="query">
				<doc>The human-readable description of an account.</doc>
			</param>
			<method id="updateFriendlyNameByPut" name="PUT" apigee:displayName="UpdateFriendlyName (PUT)">
				<apigee:tags>
					<apigee:tag primary="true">Accounts</apigee:tag>
					<apigee:tag>Objects</apigee:tag>
				</apigee:tags>
				<apigee:authentication required="true"/>
				<apigee:example url="/{AccountSid}"/>
				<doc title="" apigee:url="http://www.twilio.com/docs/api/2010-04-01/rest/account"><![CDATA[Allows you to modify the 'FriendlyName' for the {AccountSid} via PUT.]]></doc>
			    <request>
				   <param name="Content-Type" type="string" style="header" required="true" default="application/x-www-form-urlencoded"/>
                   <param name="FriendlyName" type="string" style="query" required="true" default=""/>
                </request>
            </method>
		</resource>

		<resource path="">
			<method id="getAccountList" name="GET" apigee:displayName="GetAccountList">
				<apigee:tags>
					<apigee:tag primary="true">Accounts</apigee:tag>
					<apigee:tag>Objects</apigee:tag>
				</apigee:tags>
				<apigee:authentication required="true"/>
				<apigee:example url="/"/>
				<doc title="" apigee:url="http://www.twilio.com/docs/api/2010-04-01/rest/account"><![CDATA[
					Right now, your credentials are tied to one and only one account, so the list resource only contains your single
					account.
				]]></doc>
			</method>
		</resource>

		<resource path="/{AccountSid}/SMS/Messages.{format}">
			<param name="format" type="xsd:string" style="template" required="true" default="xml">
				<option value="xml" mediaType="application/xml"/>
				<option value="json" mediaType="application/json"/>
			</param>
			<param name="AccountSid" required="true" type="xsd:string" style="template">
				<doc>Represents the unique id of the Account.</doc>
			</param>
			<param name="From" required="true" type="xsd:string" style="query">
				<doc>
					A Twilio number enabled for SMS. Only phone numbers purchased from Twilio work here; you cannot (for example) spoof SMS
					messages from your own cell phone number.
				</doc>
			</param>
			<param name="To" required="true" type="xsd:string" style="query">
				<doc>
					The number to call. Format with a '+' and country code e.g., +16175551212 (E.164 format). Twilio will also accept
					unformatted US numbers e.g., (415) 555-1212, 415-555-1212.
				</doc>
			</param>
			<param name="Body" required="true" type="xsd:string" style="query">
				<doc>The text of the message you want to send, limited to 160 characters.</doc>
			</param>
			<param name="StatusCallback" required="false" type="xsd:string" style="query">
				<doc>
					A URL that Twilio will POST to when your message is processed. Twilio will POST the SmsSid as well as SmsStatus=sent or
					SmsStatus=failed.
				</doc>
			</param>
			<method id="sendSMS" name="POST" apigee:displayName="SendSMS">
				<apigee:tags>
					<apigee:tag primary="true">SMS Messages</apigee:tag>
					<apigee:tag>Objects</apigee:tag>
				</apigee:tags>
				<apigee:authentication required="true"/>
				<apigee:example url="/{AccountSid}/SMS/Messages"/>
				<doc title="" apigee:url="http://www.twilio.com/docs/api/2010-04-01/rest/sending-sms"><![CDATA[Send a new outgoing message.]]></doc>
				<request>
				   <param name="Content-Type" type="string" style="header" required="true" default="application/x-www-form-urlencoded"/>
				   <param name="From" type="string" style="query" required="true" default=""/>
				   <param name="To" type="string" style="query" required="true" default=""/>
				   <param name="Body" type="string" style="query" required="true" default=""/>
				</request>
			</method>
		</resource>

		<resource path="/{AccountSid}/SMS/Messages.{format}">
			<param name="format" type="xsd:string" style="template" required="true" default="xml">
				<option value="xml" mediaType="application/xml"/>
				<option value="json" mediaType="application/json"/>
			</param>
			<param name="AccountSid" required="true" type="xsd:string" style="template">
				<doc>Represents the unique id of the Account</doc>
			</param>
			<param name="From" required="false" type="xsd:string" style="query">
				<doc>Only show SMS messages from this phone number</doc>
			</param>
			<param name="To" required="false" type="xsd:string" style="query">
				<doc>Only show SMS messages to this phone number.</doc>
			</param>
			<param name="DateSent" required="false" type="xsd:string" style="query">
				<doc>
					Only show SMS messages sent on this date, given as YYYY-MM-DD. Example: DateSent=2009-07-06. You can also specify
					inequality, such as DateSent lt YYYY-MM-DD for SMS messages that were sent on or before midnight on a date, and DateSent
					gt YYYY-MM-DD for SMS messages sent on or after midnight on a date.
				</doc>
			</param>
			<method id="getSMSList" name="GET" apigee:displayName="GetSMSList">
				<apigee:tags>
					<apigee:tag primary="true">SMS Messages</apigee:tag>
					<apigee:tag>Objects</apigee:tag>
				</apigee:tags>
				<apigee:authentication required="true"/>
				<apigee:example url="/{AccountSid}/SMS/Messages"/>
				<doc title="" apigee:url="http://www.twilio.com/docs/api/2010-04-01/rest/sms"><![CDATA[Returns a list of SMS messages associated with your account identified by {AccountSid}.]]></doc>
			</method>
		</resource>

		<resource path="/{AccountSid}/SMS/Messages/{SMSMessageSid}.{format}">
			<param name="format" type="xsd:string" style="template" required="true" default="xml">
				<option value="xml" mediaType="application/xml"/>
				<option value="json" mediaType="application/json"/>
			</param>
			<param name="AccountSid" required="true" type="xsd:string" style="template">
				<doc>Represents the unique id of the Account</doc>
			</param>
			<param name="SMSMessageSid" required="true" type="xsd:string" style="template">
				<doc>Represents a 34 character string that uniquely identifies this SMSMessage</doc>
			</param>
			<method id="getSMS" name="GET" apigee:displayName="GetSMS">
				<apigee:tags>
					<apigee:tag primary="true">SMS Messages</apigee:tag>
					<apigee:tag>Objects</apigee:tag>
				</apigee:tags>
				<apigee:authentication required="true"/>
				<apigee:example url="/{AccountSid}/SMS/Messages/{SMSMessageSid}"/>
				<doc title="" apigee:url="http://www.twilio.com/docs/api/2010-04-01/rest/sms"><![CDATA[Returns a single SMS message specified by the provided {SMSMessageSid}.]]></doc>
			</method>
		</resource>

		<resource path="/{AccountSid}/OutgoingCallerIds.{format}">
			<param name="format" type="xsd:string" style="template" required="true" default="xml">
				<option value="xml" mediaType="application/xml"/>
				<option value="json" mediaType="application/json"/>
			</param>
			<param name="AccountSid" required="true" type="xsd:string" style="template">
				<doc>Represents the unique id of the Account responsible for this caller Id</doc>
			</param>
			<param name="PhoneNumber" required="false" type="xsd:string" style="query">
				<doc>Only show the caller id resource that exactly matches this phone number.</doc>
			</param>
			<param name="FriendlyName" required="false" type="xsd:string" style="query">
				<doc>Only show the caller id resource that exactly matches this name.</doc>
			</param>
			<method id="getOutgoingCallerIdList" name="GET" apigee:displayName="GetOutgoingCallerIdList">
				<apigee:tags>
					<apigee:tag primary="true">Outgoing Caller ID</apigee:tag>
					<apigee:tag>Objects</apigee:tag>
				</apigee:tags>
				<apigee:authentication required="true"/>
				<apigee:example url="/{AccountSid}/OutgoingCallerIds"/>
				<doc title="" apigee:url="http://www.twilio.com/docs/api/2010-04-01/rest/outgoing-caller-ids"><![CDATA[Returns the list of outgoing caller ids for this account]]></doc>
			</method>
		</resource>

		<resource path="/{AccountSid}/OutgoingCallerIds.{format}">
			<param name="format" type="xsd:string" style="template" required="true" default="xml">
				<option value="xml" mediaType="application/xml"/>
				<option value="json" mediaType="application/json"/>
			</param>
			<param name="AccountSid" required="true" type="xsd:string" style="template">
				<doc>Represents the unique id of the Account responsible for this caller Id</doc>
			</param>
			<param name="PhoneNumber" required="true" type="xsd:string" style="query">
				<doc>
					The phone number to verify. Should be formatted with a '+' and country code e.g., +16175551212 (E.164 format). Twilio
					will also accept unformatted US numbers e.g., (415) 555-1212, 415-555-1212.
				</doc>
			</param>
			<param name="FriendlyName" required="false" type="xsd:string" style="query">
				<doc>
					A human readable description for the new caller ID with maximum length 64 characters. Defaults to a nicely formatted
					version of the number.
				</doc>
			</param>
			<param name="CallDelay" required="false" type="xsd:string" style="query">
				<doc>The number of seconds, between 0 and 60, to delay before initiating the validation call. Defaults to 0.</doc>
			</param>
			<method id="addOutgoingCallerId" name="POST" apigee:displayName="AddOutgoingCallerId">
				<apigee:tags>
					<apigee:tag primary="true">Outgoing Caller ID</apigee:tag>
					<apigee:tag>Objects</apigee:tag>
				</apigee:tags>
				<apigee:authentication required="true"/>
				<apigee:example url="/{AccountSid}/OutgoingCallerIds"/>
				<doc title="" apigee:url="http://www.twilio.com/docs/api/2010-04-01/rest/outgoing-caller-ids"><![CDATA[Adds a new caller id to your account]]></doc>
			    <request>
				   <param name="Content-Type" type="string" style="header" required="true" default="application/x-www-form-urlencoded"/>
                   <param name="PhoneNumber" type="string" style="query" required="true" default=""/>
                   <param name="FriendlyName" type="string" style="query" required="true" default=""/>
                   <param name="CallDelay" type="string" style="query" required="true" default="0"/>
                   <param name="Extension" type="string" style="query" required="true" default=""/>
                 </request>
            </method>
		</resource>

		<resource path="/{AccountSid}/OutgoingCallerIds/{OutgoingCallerIdSid}.{format}">
			<param name="format" type="xsd:string" style="template" required="true" default="xml">
				<option value="xml" mediaType="application/xml"/>
				<option value="json" mediaType="application/json"/>
			</param>
			<param name="AccountSid" required="true" type="xsd:string" style="template">
				<doc>Represents the unique id of the Account responsible for this caller Id</doc>
			</param>
			<param name="OutgoingCallerIdSid" required="true" type="xsd:string" style="template">
				<doc>Represents a 34 character string that uniquely identifies this caller Id</doc>
			</param>
			<method id="getOutgoingCallerId" name="GET" apigee:displayName="GetOutgoingCallerId">
				<apigee:tags>
					<apigee:tag primary="true">Outgoing Caller ID</apigee:tag>
					<apigee:tag>Objects</apigee:tag>
				</apigee:tags>
				<apigee:authentication required="true"/>
				<apigee:example url="/{AccountSid}/OutgoingCallerIds/{OutgoingCallerIdSid}"/>
				<doc title="" apigee:url="http://www.twilio.com/docs/api/2010-04-01/rest/outgoing-caller-ids"><![CDATA[Returns a single outgoing caller id specified by the provided {OutgoingCallerIdSid}]]></doc>
			</method>
		</resource>

		<resource path="/{AccountSid}/OutgoingCallerIds/{OutgoingCallerIdSid}.{format}">
			<param name="format" type="xsd:string" style="template" required="true" default="xml">
				<option value="xml" mediaType="application/xml"/>
				<option value="json" mediaType="application/json"/>
			</param>
			<param name="AccountSid" required="true" type="xsd:string" style="template">
				<doc>Represents the unique id of the Account responsible for this caller Id</doc>
			</param>
			<param name="OutgoingCallerIdSid" required="true" type="xsd:string" style="template">
				<doc>Represents a 34 character string that uniquely identifies this caller Id</doc>
			</param>
			<param name="FriendlyName" required="false" type="xsd:string" style="query">
				<doc>
					A human readable description of a Caller ID, with maximum length of 64 characters. Defaults to a nicely formatted
					version of the phone number.
				</doc>
			</param>
			<method id="updateOutgoingCallerIdByPost" name="POST" apigee:displayName="UpdateOutgoingCallerId (POST)">
				<apigee:tags>
					<apigee:tag primary="true">Outgoing Caller ID</apigee:tag>
					<apigee:tag>Objects</apigee:tag>
				</apigee:tags>
				<apigee:authentication required="true"/>
				<apigee:example url="/{AccountSid}/OutgoingCallerIds/{OutgoingCallerIdSid}"/>
				<doc title="" apigee:url="http://www.twilio.com/docs/api/2010-04-01/rest/outgoing-caller-ids"><![CDATA[
					Updates the outgoing caller id specified by the provided {OutgoingCallerIdSid} and returns the updated resource if
					successful via POST.
				]]></doc>
                <request>
				   <param name="Content-Type" type="string" style="header" required="true" default="application/x-www-form-urlencoded"/>
                   <param name="FriendlyName" type="string" style="query" required="true" default=""/>
                </request>
			</method>
		</resource>

		<resource path="/{AccountSid}/OutgoingCallerIds/{OutgoingCallerIdSid}.{format}">
			<param name="format" type="xsd:string" style="template" required="true" default="xml">
				<option value="xml" mediaType="application/xml"/>
				<option value="json" mediaType="application/json"/>
			</param>
			<param name="AccountSid" required="true" type="xsd:string" style="template">
				<doc>Represents the unique id of the Account responsible for this caller Id</doc>
			</param>
			<param name="OutgoingCallerIdSid" required="true" type="xsd:string" style="template">
				<doc>Represents a 34 character string that uniquely identifies this caller Id</doc>
			</param>
			<param name="FriendlyName" required="false" type="xsd:string" style="query">
				<doc>
					A human readable description of a Caller ID, with maximum length of 64 characters. Defaults to a nicely formatted
					version of the phone number.
				</doc>
			</param>
			<method id="updateOutgoingCallerIdByPut" name="PUT" apigee:displayName="UpdateOutgoingCallerId (PUT)">
				<apigee:tags>
					<apigee:tag primary="true">Outgoing Caller ID</apigee:tag>
					<apigee:tag>Objects</apigee:tag>
				</apigee:tags>
				<apigee:authentication required="true"/>
				<apigee:example url="/{AccountSid}/OutgoingCallerIds/{OutgoingCallerIdSid}"/>
				<doc title="" apigee:url="http://www.twilio.com/docs/api/2010-04-01/rest/outgoing-caller-ids"><![CDATA[
					Updates the outgoing caller id specified by the provided {OutgoingCallerIdSid} and returns the updated resource if
					successful via PUT.
				]]></doc>
                <request>
				   <param name="Content-Type" type="string" style="header" required="true" default="application/x-www-form-urlencoded"/>
                   <param name="FriendlyName" type="string" style="query" required="true" default=""/>
                </request>
			</method>
		</resource>

		<resource path="/{AccountSid}/OutgoingCallerIds/{OutgoingCallerIdSid}.{format}">
			<param name="format" type="xsd:string" style="template" required="true" default="xml">
				<option value="xml" mediaType="application/xml"/>
				<option value="json" mediaType="application/json"/>
			</param>
			<param name="AccountSid" required="true" type="xsd:string" style="template">
				<doc>Represents the unique id of the Account responsible for this caller Id</doc>
			</param>
			<param name="OutgoingCallerIdSid" required="true" type="xsd:string" style="template">
				<doc>Represents a 34 character string that uniquely identifies this caller Id</doc>
			</param>
			<method id="deleteOutgoingCallerId" name="DELETE" apigee:displayName="DeleteOutgoingCallerId">
				<apigee:tags>
					<apigee:tag primary="true">Outgoing Caller ID</apigee:tag>
					<apigee:tag>Objects</apigee:tag>
				</apigee:tags>
				<apigee:authentication required="true"/>
				<apigee:example url="/{AccountSid}/OutgoingCallerIds/{OutgoingCallerIdSid}"/>
				<doc title="" apigee:url="http://www.twilio.com/docs/api/2010-04-01/rest/outgoing-caller-ids"><![CDATA[Deletes the outgoing caller id specified by the provided {OutgoingCallerIdSid}]]></doc>
			</method>
		</resource>

		<resource path="/{AccountSid}/AvailablePhoneNumbers/{IsoCountryCode}/Local.{format}">
			<param name="format" type="xsd:string" style="template" required="true" default="xml">
				<option value="xml" mediaType="application/xml"/>
				<option value="json" mediaType="application/json"/>
			</param>
			<param name="AccountSid" required="true" type="xsd:string" style="template">
				<doc>Represents the unique id of the Account responsible for this caller Id</doc>
			</param>
			<param name="IsoCountryCode" required="true" type="xsd:string" style="template">
				<doc>The ISO country code of this phone number</doc>
			</param>
			<param name="AreaCode" required="false" type="xsd:string" style="query">
				<doc>Find phone numbers in the specified Area Code. Only available for North American numbers.</doc>
			</param>
			<param name="Contains" required="false" type="xsd:string" style="query">
				<doc>
					A pattern to match phone numbers on. Valid characters are '*' and [0-9a-zA-Z]. The '*' character will match any single
					digit.
				</doc>
			</param>
			<param name="InRegion" required="false" type="xsd:string" style="query">
				<doc>
					Limit results to a particular region (i.e. State/Province). Given a phone number, search within the same Region as that
					number.
				</doc>
			</param>
			<param name="InPostalCode" required="false" type="xsd:string" style="query">
				<doc>
					Limit results to a particular postal code. Given a phone number, search within the same postal code as that number.
				</doc>
			</param>
			<param name="NearLatLong" required="false" type="xsd:string" style="query">
				<doc>Given a latitude/longitude pair lat,long find geographically close numbers within Distance miles.</doc>
			</param>
			<param name="NearNumber" required="false" type="xsd:string" style="query">
				<doc>Given a phone number, find a geographically close number within Distance miles. Distance defaults to 25 miles.</doc>
			</param>
			<param name="InLata" required="false" type="xsd:string" style="query">
				<doc>
					Limit results to a specific Local access and transport area (LATA). Given a phone number, search within the same LATA as
					that number.
				</doc>
			</param>
			<param name="InRateCenter" required="false" type="xsd:string" style="query">
				<doc>
					Limit results to a specific rate center, or given a phone number search within the same rate center as that number.
					Requires InLata to be set as well.
				</doc>
			</param>
			<param name="Distance" required="false" type="xsd:string" style="query">
				<doc>Specifies the search radius for a Near- query in miles. If not specified this defaults to 25 miles.</doc>
			</param>
			<method id="getAvailableLocalPhoneNumberList" name="GET" apigee:displayName="GetAvailableLocalPhoneNumberList">
				<apigee:tags>
					<apigee:tag primary="true">Available Phone Numbers</apigee:tag>
					<apigee:tag>Objects</apigee:tag>
				</apigee:tags>
				<apigee:authentication required="true"/>
				<apigee:example url="/{AccountSid}/AvailablePhoneNumbers/{IsoCountryCode}/Local"/>
				<doc title="" apigee:url="http://www.twilio.com/docs/api/2010-04-01/rest/available-phone-numbers"><![CDATA[
					Returns a list of local AvailablePhoneNumber resource representations, each representing a phone number that is
					currently available for provisioning within your account.
				]]></doc>
			</method>
		</resource>

		<resource path="/{AccountSid}/AvailablePhoneNumbers/{IsoCountryCode}/TollFree.{format}">
			<param name="format" type="xsd:string" style="template" required="true" default="xml">
				<option value="xml" mediaType="application/xml"/>
				<option value="json" mediaType="application/json"/>
			</param>
			<param name="AccountSid" required="true" type="xsd:string" style="template">
				<doc>Represents the unique id of the Account responsible for this caller Id</doc>
			</param>
			<param name="IsoCountryCode" required="true" type="xsd:string" style="template">
				<doc>The ISO country code of this phone number</doc>
			</param>
			<param name="Contains" required="false" type="xsd:string" style="query">
				<doc>
					A pattern to match phone numbers on. Valid characters are '*' and [0-9a-zA-Z]. The '*' character will match any single
					digit.
				</doc>
			</param>
			<method id="getAvailableTollFreePhoneNumberList" name="GET" apigee:displayName="GetAvailableTollFreePhoneNumberList">
				<apigee:tags>
					<apigee:tag primary="true">Available Phone Numbers</apigee:tag>
					<apigee:tag>Objects</apigee:tag>
				</apigee:tags>
				<apigee:authentication required="true"/>
				<apigee:example url="/{AccountSid}/AvailablePhoneNumbers/{IsoCountryCode}/TollFree"/>
				<doc title="" apigee:url="http://www.twilio.com/docs/api/2010-04-01/rest/available-phone-numbers"><![CDATA[
					Returns a list of toll-free AvailablePhoneNumber resource representations, each representing a phone number that is
					currently available for provisioning within your account.
				]]></doc>
			</method>
		</resource>

		<resource path="/{AccountSid}/Calls/{CallSid}.{format}">
			<param name="format" type="xsd:string" style="template" required="true" default="xml">
				<option value="xml" mediaType="application/xml"/>
				<option value="json" mediaType="application/json"/>
			</param>
			<param name="AccountSid" required="true" type="xsd:string" style="template">
				<doc>Represents the unique id of the Account responsible for this caller Id</doc>
			</param>
			<param name="CallSid" required="true" type="xsd:string" style="template">
				<doc>A 34 character string that uniquely idetifies this resource</doc>
			</param>
			<method id="getCall" name="GET" apigee:displayName="GetCall">
				<apigee:tags>
					<apigee:tag primary="true">Calls</apigee:tag>
					<apigee:tag>Objects</apigee:tag>
				</apigee:tags>
				<apigee:authentication required="true"/>
				<apigee:example url="/{AccountSid}/Calls/{CallSid}"/>
				<doc title="" apigee:url="http://www.twilio.com/docs/api/2010-04-01/rest/call"><![CDATA[Returns the single Call resource identified by {CallSid}.]]></doc>
			</method>
		</resource>

		<resource path="/{AccountSid}/Calls/{CallSid}.{format}">
			<param name="format" type="xsd:string" style="template" required="true" default="xml">
				<option value="xml" mediaType="application/xml"/>
				<option value="json" mediaType="application/json"/>
			</param>
			<param name="AccountSid" required="true" type="xsd:string" style="template">
				<doc>Represents the unique id of the Account responsible for this caller Id</doc>
			</param>
			<param name="CallSid" required="true" type="xsd:string" style="template">
				<doc>A 34 character string that uniquely idetifies this resource</doc>
			</param>
			<param name="Url" required="false" type="xsd:string" style="query">
				<doc>A valid URL that returns TwiML. Twilio will immediately redirect the call to the new TwiML.</doc>
			</param>
			<param name="Method" required="false" type="xsd:string" style="query">
				<doc>The HTTP method Twilio should use when requesting the above URL. Defaults to POST.</doc>
			</param>
			<param name="Status" required="false" type="xsd:string" style="query">
				<doc>
					Either canceled or completed. Specifying canceled will attempt to hangup calls that are queued or ringing but not affect
					calls already in progress. Specifying completed will attempt to hang up a call even if it's already in progress.
				</doc>
			</param>
			<method id="modifyLiveCall" name="POST" apigee:displayName="ModifyLiveCall">
				<apigee:tags>
					<apigee:tag primary="true">Modify Live Call</apigee:tag>
					<apigee:tag>Objects</apigee:tag>
				</apigee:tags>
				<apigee:authentication required="true"/>
				<apigee:example url="/{AccountSid}/Calls/{CallSid}"/>
				<doc title="" apigee:url="http://www.twilio.com/docs/api/2010-04-01/rest/change-call-state"><![CDATA[Modifies a live call. Modification could be redirection or termination of the call.]]></doc>
			    <request>
				   <param name="Content-Type" type="string" style="header" required="true" default="application/x-www-form-urlencoded"/>
                   <param name="Url" type="string" style="query" required="true" default=""/>
                   <param name="Method" type="string" style="query" required="true" default="POST"/>
                   <param name="Status" type="string" style="query" required="true" default=""/>
                </request>
            </method>
		</resource>

		<resource path="/{AccountSid}/Calls.{format}">
			<param name="format" type="xsd:string" style="template" required="true" default="xml">
				<option value="xml" mediaType="application/xml"/>
				<option value="json" mediaType="application/json"/>
			</param>
			<param name="AccountSid" required="true" type="xsd:string" style="template">
				<doc>Represents the unique id of the Account responsible for this caller Id</doc>
			</param>
			<param name="To" required="false" type="xsd:string" style="query">
				<doc>Only show calls to this phone number.</doc>
			</param>
			<param name="From" required="false" type="xsd:string" style="query">
				<doc>Only show calls from this phone number.</doc>
			</param>
			<param name="Status" required="false" type="xsd:string" style="query">
				<doc>
					Only show calls currently in this status. May be queued, ringing, in-progress, completed, failed, busy, or no-answer.
				</doc>
			</param>
			<param name="StartTime" required="false" type="xsd:string" style="query">
				<doc>
					Only show calls that started on this date, given as YYYY-MM-DD. Also supports inequalities, such as StartTime(less than
					or equal to)YYYY-MM-DD for calls that started at or before midnight on a date, and StartTime(greater than or equal
					to)YYYY-MM-DD for calls that started at or after midnight on a date.
				</doc>
			</param>
			<param name="EndTime" required="false" type="xsd:string" style="query">
				<doc>
					Only show calls that ended on this date, given as YYYY-MM-DD. Also supoprts inequalities, such as EndTime(less than or
					equal to)YYYY-MM-DD for calls that ended at or before midnight on a date, and EndTime(greater than or equal
					to)YYYY-MM-DD for calls that end at or after midnight on a date.
				</doc>
			</param>
			<method id="getCallList" name="GET" apigee:displayName="GetCallList">
				<apigee:tags>
					<apigee:tag primary="true">Calls</apigee:tag>
					<apigee:tag>Objects</apigee:tag>
				</apigee:tags>
				<apigee:authentication required="true"/>
				<apigee:example url="/{AccountSid}/Calls"/>
				<doc title="" apigee:url="http://www.twilio.com/docs/api/2010-04-01/rest/call"><![CDATA[
					Returns a list of phone calls made to and from the account identified by {AccountSid}, sorted by DateUpdated with
					most-recent calls first.
				]]></doc>
			</method>
		</resource>

		<resource path="/{AccountSid}/Calls.{format}">
			<param name="format" type="xsd:string" style="template" required="true" default="xml">
				<option value="xml" mediaType="application/xml"/>
				<option value="json" mediaType="application/json"/>
			</param>
			<param name="AccountSid" required="true" type="xsd:string" style="template">
				<doc>Represents the unique id of the Account responsible for this caller Id</doc>
			</param>
			<param name="From" required="true" type="xsd:string" style="query">
				<doc>
					The phone number to use as the caller id. Format with a '+' and country code e.g., +16175551212 (E.164 format). Must be
					a Twilio number or a valid outgoing caller id for your account.
				</doc>
			</param>
			<param name="To" required="true" type="xsd:string" style="query">
				<doc>
					The number to call formatted with a '+' and country code e.g., +16175551212 (E.164 format). Twilio will also accept
					unformatted US numbers e.g., (415) 555-1212, 415-555-1212.
				</doc>
			</param>
			<param name="Url" required="true" type="xsd:string" style="query">
				<doc>
					The fully qualified URL that should be consulted when the call connects. Just like when you set a URL for your inbound
					calls.
				</doc>
			</param>
			<param name="Method" required="false" type="xsd:string" style="query">
				<doc>The HTTP method Twilio should use when requesting the required Url parameter's value above. Defaults to POST.</doc>
			</param>
			<param name="FallbackUrl" required="false" type="xsd:string" style="query">
				<doc>A URL that Twilio will request if an error occurs requesting or executing the TwiML at Url.</doc>
			</param>
			<param name="FallbackMethod" required="false" type="xsd:string" style="query">
				<doc>The HTTP method that Twilio should use to request the FallbackUrl. Must be either GET or POST. Defaults to POST.</doc>
			</param>
			<param name="StatusCallback" required="false" type="xsd:string" style="query">
				<doc>A URL that Twilio will request when the call ends to notify your app.</doc>
			</param>
			<param name="StatusCallbackMethod" required="false" type="xsd:string" style="query">
				<doc>The HTTP method Twilio should use when requesting the above URL. Defaults to POST.</doc>
			</param>
			<param name="SendDigits" required="false" type="xsd:string" style="query">
				<doc>
					A string of keys to dial after connecting to the number. Valid digits in the string include: any digit (0-9), '#' and
					'*'. For example, if you connected to a company phone number, and wanted to dial extension 1234 and then the pound key,
					use SendDigits=1234#. Remember to URL-encode this string, since the '#' character has special meaning in a URL.
				</doc>
			</param>
			<param name="IfMachine" required="false" type="xsd:string" style="query">
				<doc>
					Tell Twilio to try and determine if a machine (like voicemail) or a human has answered the call. Possible values are
					Continue and Hangup. See the answering machines section below for more info.
				</doc>
			</param>
			<param name="Timeout" required="false" type="xsd:string" style="query">
				<doc>
					The integer number of seconds that Twilio should allow the phone to ring before assuming there is no answer. Default is
					60 seconds, the maximum is 999 seconds. Note, you could set this to a low value, such as 15, to hangup before reaching
					an answering machine or voicemail. Also see the answering machine section for other solutions.
				</doc>
			</param>
			<method id="makeCall" name="POST" apigee:displayName="MakeCall">
				<apigee:tags>
					<apigee:tag primary="true">Making Calls</apigee:tag>
					<apigee:tag>Objects</apigee:tag>
				</apigee:tags>
				<apigee:authentication required="true"/>
				<apigee:example url="/{AccountSid}/Calls"/>
				<doc title="" apigee:url="http://www.twilio.com/docs/api/2010-04-01/rest/making_calls"><![CDATA[Make a call.]]></doc>
			    <request>
				   <param name="Content-Type" type="string" style="header" required="true" default="application/x-www-form-urlencoded"/>
                   <param name="From" type="string" style="query" required="true" default=""/>
                   <param name="To" type="string" style="query" required="true" default=""/>
                   <param name="Url" type="string" style="query" required="true" default=""/>
                </request>
            </method>
		</resource>

		<resource path="/{AccountSid}/IncomingPhoneNumbers/{IncomingPhoneNumberSid}.{format}">
			<param name="format" type="xsd:string" style="template" required="true" default="xml">
				<option value="xml" mediaType="application/xml"/>
				<option value="json" mediaType="application/json"/>
			</param>
			<param name="AccountSid" required="true" type="xsd:string" style="template">
				<doc>Represents the unique id of the Account responsible for this caller Id.</doc>
			</param>
			<param name="IncomingPhoneNumberSid" required="true" type="xsd:string" style="template">
				<doc>A 34 character string that uniquely idetifies this resource.</doc>
			</param>
			<method id="getIncomingPhoneNumber" name="GET" apigee:displayName="GetIncomingPhoneNumber">
				<apigee:tags>
					<apigee:tag primary="true">Incoming Phone Numbers</apigee:tag>
					<apigee:tag>Objects</apigee:tag>
				</apigee:tags>
				<apigee:authentication required="true"/>
				<apigee:example url="/{AccountSid}/IncomingPhoneNumbers/{IncomingPhoneNumberSid}"/>
				<doc title="" apigee:url="http://www.twilio.com/docs/api/2010-04-01/rest/incoming-phone-numbers"><![CDATA[Fetches the details of a phone number purchased from Twilio]]></doc>
			</method>
		</resource>

		<resource path="/{AccountSid}/IncomingPhoneNumbers/{IncomingPhoneNumberSid}.{format}">
			<param name="format" type="xsd:string" style="template" required="true" default="xml">
				<option value="xml" mediaType="application/xml"/>
				<option value="json" mediaType="application/json"/>
			</param>
			<param name="AccountSid" required="true" type="xsd:string" style="template">
				<doc>Represents the unique id of the Account responsible for this caller Id.</doc>
			</param>
			<param name="IncomingPhoneNumberSid" required="true" type="xsd:string" style="template">
				<doc>A 34 character string that uniquely idetifies this resource.</doc>
			</param>
			<param name="FriendlyName" required="false" type="xsd:string" style="query">
				<doc>A human readable description of the new incoming phone number resource, with maximum length 64 characters.</doc>
			</param>
			<param name="ApiVersion" required="false" type="xsd:string" style="query">
				<doc>Calls to this phone number will start a new TwiML session with this API version. Either 2010-04-01 or 2008-08-01.</doc>
			</param>
			<param name="VoiceUrl" required="false" type="xsd:string" style="query">
				<doc>The URL that Twilio should request when somebody dials the phone number.</doc>
			</param>
			<param name="VoiceMethod" required="false" type="xsd:string" style="query">
				<doc>The HTTP method that should be used to request the VoiceUrl. Either GET or POST. Defaults to POST.</doc>
			</param>
			<param name="VoiceFallbackUrl" required="false" type="xsd:string" style="query">
				<doc>A URL that Twilio will request if an error occurs requesting or executing the TwiML defined by VoiceUrl.</doc>
			</param>
			<param name="VoiceFallbackMethod" required="false" type="xsd:string" style="query">
				<doc>The HTTP method that should be used to request the VoiceFallbackUrl. Either GET or POST. Defaults to POST.</doc>
			</param>
			<param name="StatusCallback" required="false" type="xsd:string" style="query">
				<doc>The URL that Twilio will request to pass status parameters (such as call ended) to your application.</doc>
			</param>
			<param name="StatusCallbackMethod" required="false" type="xsd:string" style="query">
				<doc>The HTTP method Twilio will use to make requests to the StatusCallback URL. Either GET or POST.</doc>
			</param>
			<param name="SmsUrl" required="false" type="xsd:string" style="query">
				<doc>The URL that Twilio should request when somebody sends an SMS to the new phone number.</doc>
			</param>
			<param name="SmsMethod" required="false" type="xsd:string" style="query">
				<doc>The HTTP method that should be used to request the SmsUrl. Either GET or POST. Defaults to POST.</doc>
			</param>
			<param name="SmsFallbackUrl" required="false" type="xsd:string" style="query">
				<doc>A URL that Twilio will request if an error occurs requesting or executing the TwiML defined by SmsUrl.</doc>
			</param>
			<param name="SmsFallbackMethod" required="false" type="xsd:string" style="query">
				<doc>The HTTP method that should be used to request the SmsFallbackUrl. Either GET or POST. Defaults to POST.</doc>
			</param>
			<param name="VoiceCallerIdLookup" required="false" type="xsd:string" style="query">
				<doc>
					Do a lookup of a caller's name from the CNAM database and post it to your app. Either true or false. Defaults to false.
				</doc>
			</param>
			<method id="updateIncomingPhoneNumberByPost" name="POST" apigee:displayName="UpdateIncomingPhoneNumber (POST)">
				<apigee:tags>
					<apigee:tag primary="true">Incoming Phone Numbers</apigee:tag>
					<apigee:tag>Objects</apigee:tag>
				</apigee:tags>
				<apigee:authentication required="true"/>
				<apigee:example url="/{AccountSid}/IncomingPhoneNumbers/{IncomingPhoneNumberSid}"/>
				<doc title="" apigee:url="http://www.twilio.com/docs/api/2010-04-01/rest/incoming-phone-numbers"><![CDATA[Update an incoming phone number obtained from Twilio via POST.]]></doc>
			    <request>
				   <param name="Content-Type" type="string" style="header" required="true" default="application/x-www-form-urlencoded"/>
                   <param name="FriendlyName" type="string" style="query" required="true" default=""/>
                   <param name="ApiVersion" type="string" style="query" required="true" default=""/>
                   <param name="VoiceUrl" type="string" style="query" required="true" default=""/>
                   <param name="VoiceMethod" type="string" style="query" required="true" default=""/>
                   <param name="VoiceFallbackUrl" type="string" style="query" required="true" default=""/>
                   <param name="StatusCallback" type="string" style="query" required="true" default=""/>
                   <param name="StatusCallbackMethod" type="string" style="query" required="true" default=""/>
                   <param name="VoiceCallerIdLookup" type="string" style="query" required="true" default=""/>
                   <param name="VoiceApplicationSid" type="string" style="query" required="true" default=""/>
                   <param name="SmsUrl" type="string" style="query" required="true" default=""/>
                   <param name="SmsMethod" type="string" style="query" required="true" default=""/>
                   <param name="SmsFallbackUrl" type="string" style="query" required="true" default=""/>
                   <param name="SmsFallbackMethod" type="string" style="query" required="true" default=""/>
                   <param name="SmsApplicationSid" type="string" style="query" required="true" default=""/>
                   <param name="AccountSid" type="string" style="query" required="true" default=""/>
                </request>
            </method>
		</resource>

		<resource path="/{AccountSid}/IncomingPhoneNumbers/{IncomingPhoneNumberSid}.{format}">
			<param name="format" type="xsd:string" style="template" required="true" default="xml">
				<option value="xml" mediaType="application/xml"/>
				<option value="json" mediaType="application/json"/>
			</param>
			<param name="AccountSid" required="true" type="xsd:string" style="template">
				<doc>Represents the unique id of the Account responsible for this caller Id.</doc>
			</param>
			<param name="IncomingPhoneNumberSid" required="true" type="xsd:string" style="template">
				<doc>A 34 character string that uniquely idetifies this resource.</doc>
			</param>
			<param name="FriendlyName" required="false" type="xsd:string" style="query">
				<doc>A human readable description of the new incoming phone number resource, with maximum length 64 characters.</doc>
			</param>
			<param name="ApiVersion" required="false" type="xsd:string" style="query">
				<doc>Calls to this phone number will start a new TwiML session with this API version. Either 2010-04-01 or 2008-08-01.</doc>
			</param>
			<param name="VoiceUrl" required="false" type="xsd:string" style="query">
				<doc>The URL that Twilio should request when somebody dials the phone number.</doc>
			</param>
			<param name="VoiceMethod" required="false" type="xsd:string" style="query">
				<doc>The HTTP method that should be used to request the VoiceUrl. Either GET or POST. Defaults to POST.</doc>
			</param>
			<param name="VoiceFallbackUrl" required="false" type="xsd:string" style="query">
				<doc>A URL that Twilio will request if an error occurs requesting or executing the TwiML defined by VoiceUrl.</doc>
			</param>
			<param name="VoiceFallbackMethod" required="false" type="xsd:string" style="query">
				<doc>The HTTP method that should be used to request the VoiceFallbackUrl. Either GET or POST. Defaults to POST.</doc>
			</param>
			<param name="StatusCallback" required="false" type="xsd:string" style="query">
				<doc>The URL that Twilio will request to pass status parameters (such as call ended) to your application.</doc>
			</param>
			<param name="StatusCallbackMethod" required="false" type="xsd:string" style="query">
				<doc>The HTTP method Twilio will use to make requests to the StatusCallback URL. Either GET or POST.</doc>
			</param>
			<param name="SmsUrl" required="false" type="xsd:string" style="query">
				<doc>The URL that Twilio should request when somebody sends an SMS to the new phone number.</doc>
			</param>
			<param name="SmsMethod" required="false" type="xsd:string" style="query">
				<doc>The HTTP method that should be used to request the SmsUrl. Either GET or POST. Defaults to POST.</doc>
			</param>
			<param name="SmsFallbackUrl" required="false" type="xsd:string" style="query">
				<doc>A URL that Twilio will request if an error occurs requesting or executing the TwiML defined by SmsUrl.</doc>
			</param>
			<param name="SmsFallbackMethod" required="false" type="xsd:string" style="query">
				<doc>The HTTP method that should be used to request the SmsFallbackUrl. Either GET or POST. Defaults to POST.</doc>
			</param>
			<param name="VoiceCallerIdLookup" required="false" type="xsd:string" style="query">
				<doc>
					Do a lookup of a caller's name from the CNAM database and post it to your app. Either true or false. Defaults to false.
				</doc>
			</param>
			<method id="updateIncomingPhoneNumberByPut" name="PUT" apigee:displayName="UpdateIncomingPhoneNumber (PUT)">
				<apigee:tags>
					<apigee:tag primary="true">Incoming Phone Numbers</apigee:tag>
					<apigee:tag>Objects</apigee:tag>
				</apigee:tags>
				<apigee:authentication required="true"/>
				<apigee:example url="/{AccountSid}/IncomingPhoneNumbers/{IncomingPhoneNumberSid}"/>
				<doc title="" apigee:url="http://www.twilio.com/docs/api/2010-04-01/rest/incoming-phone-numbers"><![CDATA[Update an incoming phone number obtained from Twilio via PUT.]]></doc>
			    <request>
				   <param name="Content-Type" type="string" style="header" required="true" default="application/x-www-form-urlencoded"/>
                   <param name="FriendlyName" type="string" style="query" required="true" default=""/>
                   <param name="ApiVersion" type="string" style="query" required="true" default=""/>
                   <param name="VoiceUrl" type="string" style="query" required="true" default=""/>
                   <param name="VoiceMethod" type="string" style="query" required="true" default=""/>
                   <param name="VoiceFallbackUrl" type="string" style="query" required="true" default=""/>
                   <param name="StatusCallback" type="string" style="query" required="true" default=""/>
                   <param name="StatusCallbackMethod" type="string" style="query" required="true" default=""/>
                   <param name="VoiceCallerIdLookup" type="string" style="query" required="true" default=""/>
                   <param name="VoiceApplicationSid" type="string" style="query" required="true" default=""/>
                   <param name="SmsUrl" type="string" style="query" required="true" default=""/>
                   <param name="SmsMethod" type="string" style="query" required="true" default=""/>
                   <param name="SmsFallbackUrl" type="string" style="query" required="true" default=""/>
                   <param name="SmsFallbackMethod" type="string" style="query" required="true" default=""/>
                   <param name="SmsApplicationSid" type="string" style="query" required="true" default=""/>
                   <param name="AccountSid" type="string" style="query" required="true" default=""/>
                </request>
            </method>
		</resource>

		<resource path="/{AccountSid}/IncomingPhoneNumbers/{IncomingPhoneNumberSid}.{format}">
			<param name="format" type="xsd:string" style="template" required="true" default="xml">
				<option value="xml" mediaType="application/xml"/>
				<option value="json" mediaType="application/json"/>
			</param>
			<param name="AccountSid" required="true" type="xsd:string" style="template">
				<doc>Represents the unique id of the Account responsible for this caller Id.</doc>
			</param>
			<param name="IncomingPhoneNumberSid" required="true" type="xsd:string" style="template">
				<doc>A 34 character string that uniquely idetifies this resource.</doc>
			</param>
			<method id="deleteIncomingPhoneNumber" name="DELETE" apigee:displayName="DeleteIncomingPhoneNumber">
				<apigee:tags>
					<apigee:tag primary="true">Incoming Phone Numbers</apigee:tag>
					<apigee:tag>Objects</apigee:tag>
				</apigee:tags>
				<apigee:authentication required="true"/>
				<apigee:example url="/{AccountSid}/IncomingPhoneNumbers/{IncomingPhoneNumberSid}"/>
				<doc title="" apigee:url="http://www.twilio.com/docs/api/2010-04-01/rest/incoming-phone-numbers"><![CDATA[Deletes a phone number purchased from Twilio]]></doc>
			</method>
		</resource>

		<resource path="/{AccountSid}/IncomingPhoneNumbers.{format}">
			<param name="format" type="xsd:string" style="template" required="true" default="xml">
				<option value="xml" mediaType="application/xml"/>
				<option value="json" mediaType="application/json"/>
			</param>
			<param name="AccountSid" required="true" type="xsd:string" style="template">
				<doc>Represents the unique id of the Account responsible for this caller Id.</doc>
			</param>
			<param name="PhoneNumber" required="false" type="xsd:string" style="template">
				<doc>
					Only show the incoming phone number resources that match this pattern. You can specify partial numbers and use '*' as a
					wildcard for any digit.
				</doc>
			</param>
			<param name="FriendlyName" required="false" type="xsd:string" style="query">
				<doc>Only show the incoming phone number resources with friendly names that exactly match this name.</doc>
			</param>
			<method id="getIncomingPhoneNumberList" name="GET" apigee:displayName="GetIncomingPhoneNumberList">
				<apigee:tags>
					<apigee:tag primary="true">Incoming Phone Numbers</apigee:tag>
					<apigee:tag>Objects</apigee:tag>
				</apigee:tags>
				<apigee:authentication required="true"/>
				<apigee:example url="/{AccountSid}/IncomingPhoneNumbers"/>
				<doc title="" apigee:url="http://www.twilio.com/docs/api/2010-04-01/rest/incoming-phone-numbers"><![CDATA[Returns a list of incoming phone number resources, each representing a phone number given to your account]]></doc>
			</method>
		</resource>

		<resource path="/{AccountSid}/IncomingPhoneNumbers.{format}">
			<param name="format" type="xsd:string" style="template" required="true" default="xml">
				<option value="xml" mediaType="application/xml"/>
				<option value="json" mediaType="application/json"/>
			</param>
			<param name="AccountSid" required="true" type="xsd:string" style="template">
				<doc>Represents the unique id of the Account responsible for this caller Id.</doc>
			</param>
			<param name="PhoneNumber" required="true" type="xsd:string" style="query">
				<doc>
					The phone number you want to purchase. The number should be formated starting with a '+' followed by the country code
					and the number in E.164 format
				</doc>
			</param>
			<param name="FriendlyName" required="false" type="xsd:string" style="query">
				<doc>
					A human readable description of the new incoming phone number. Maximum 64 characters. Defaults to a formatted version of
					the number.
				</doc>
			</param>
			<param name="VoiceUrl" required="false" type="xsd:string" style="query">
				<doc>The URL that Twilio should request when somebody dials the new phone number.</doc>
			</param>
			<param name="VoiceMethod" required="false" type="xsd:string" style="query">
				<doc>The HTTP method that should be used to request the VoiceUrl. Must be either GET or POST. Defaults to POST.</doc>
			</param>
			<param name="VoiceFallbackUrl" required="false" type="xsd:string" style="query">
				<doc>A URL that Twilio will request if an error occurs requesting or executing the TwiML at Url.</doc>
			</param>
			<param name="VoiceFallbackMethod" required="false" type="xsd:string" style="query">
				<doc>The HTTP method that should be used to request the VoiceFallbackUrl. Either GET or POST. Defaults to POST.</doc>
			</param>
			<param name="StatusCallback" required="false" type="xsd:string" style="query">
				<doc>The URL that Twilio will request to pass status parameters (such as call ended) to your application.</doc>
			</param>
			<param name="StatusCallbackMethod" required="false" type="xsd:string" style="query">
				<doc>The HTTP method Twilio will use to make requests to the StatusCallback URL. Either GET or POST. Defaults to POST.</doc>
			</param>
			<param name="SmsUrl" required="false" type="xsd:string" style="query">
				<doc>The URL that Twilio should request when somebody sends an SMS to the phone number.</doc>
			</param>
			<param name="SmsMethod" required="false" type="xsd:string" style="query">
				<doc>The HTTP method that should be used to request the SmsUrl. Must be either GET or POST. Defaults to POST.</doc>
			</param>
			<param name="SmsFallbackUrl" required="false" type="xsd:string" style="query">
				<doc>A URL that Twilio will request if an error occurs requesting or executing the TwiML defined by SmsUrl.</doc>
			</param>
			<param name="SmsFallbackMethod" required="false" type="xsd:string" style="query">
				<doc>The HTTP method that should be used to request the SmsFallbackUrl. Must be either GET or POST. Defaults to POST.</doc>
			</param>
			<param name="VoiceCallerIdLookup" required="false" type="xsd:string" style="query">
				<doc>
					Do a lookup of a caller's name from the CNAM database and post it to your app. Either true or false. Defaults to false.
				</doc>
			</param>
			<method id="addIncomingPhoneNumber" name="POST" apigee:displayName="AddIncomingPhoneNumber">
				<apigee:tags>
					<apigee:tag primary="true">Incoming Phone Numbers</apigee:tag>
					<apigee:tag>Objects</apigee:tag>
				</apigee:tags>
				<apigee:authentication required="true"/>
				<apigee:example url="/{AccountSid}/IncomingPhoneNumbers"/>
				<doc title="" apigee:url="http://www.twilio.com/docs/api/2010-04-01/rest/incoming-phone-numbers"><![CDATA[
					Adds a new phone number to your account. If a phone number is found for your request, Twilio will add it to your account
				]]></doc>
			    <request>
				   <param name="Content-Type" type="string" style="header" required="true" default="application/x-www-form-urlencoded"/>
                   <param name="PhoneNumber" type="string" style="query" required="true" default=""/>
                   <param name="FriendlyName" type="string" style="query" required="true" default=""/>
                   <param name="VoiceUrl" type="string" style="query" required="true" default=""/>
                   <param name="VoiceMethod" type="string" style="query" required="true" default=""/>
                   <param name="VoiceFallbackUrl" type="string" style="query" required="true" default=""/>
                   <param name="StatusCallback" type="string" style="query" required="true" default=""/>
                   <param name="StatusCallbackMethod" type="string" style="query" required="true" default=""/>
                   <param name="VoiceCallerIdLookup" type="string" style="query" required="true" default=""/>
                   <param name="VoiceApplicationSid" type="string" style="query" required="true" default=""/>
                   <param name="SmsUrl" type="string" style="query" required="true" default=""/>
                   <param name="SmsMethod" type="string" style="query" required="true" default=""/>
                   <param name="SmsFallbackUrl" type="string" style="query" required="true" default=""/>
                   <param name="SmsFallbackMethod" type="string" style="query" required="true" default=""/>
                   <param name="SmsApplicationSid" type="string" style="query" required="true" default=""/>
                   <param name="AccountSid" type="string" style="query" required="true" default=""/>
                </request>
            </method>
		</resource>

		<resource path="/{AccountSid}/IncomingPhoneNumbers.{format}">
			<param name="format" type="xsd:string" style="template" required="true" default="xml">
				<option value="xml" mediaType="application/xml"/>
				<option value="json" mediaType="application/json"/>
			</param>
			<param name="AccountSid" required="true" type="xsd:string" style="template">
				<doc>Represents the unique id of the Account responsible for this caller Id.</doc>
			</param>
			<param name="AreaCode" required="true" type="xsd:string" style="query">
				<doc>
					The area code in which you'd like a new incoming phone number. Any three digit, US area code is valid. Twilio will
					provision a random phone number within this area code for you. You must include either this or a PhoneNumber parameter
					to have your POST succeed.
				</doc>
			</param>
			<param name="FriendlyName" required="false" type="xsd:string" style="query">
				<doc>
					A human readable description of the new incoming phone number. Maximum 64 characters. Defaults to a formatted version of
					the number.
				</doc>
			</param>
			<param name="VoiceUrl" required="false" type="xsd:string" style="query">
				<doc>The URL that Twilio should request when somebody dials the new phone number.</doc>
			</param>
			<param name="VoiceMethod" required="false" type="xsd:string" style="query">
				<doc>The HTTP method that should be used to request the VoiceUrl. Must be either GET or POST. Defaults to POST.</doc>
			</param>
			<param name="VoiceFallbackUrl" required="false" type="xsd:string" style="query">
				<doc>A URL that Twilio will request if an error occurs requesting or executing the TwiML at Url.</doc>
			</param>
			<param name="VoiceFallbackMethod" required="false" type="xsd:string" style="query">
				<doc>The HTTP method that should be used to request the VoiceFallbackUrl. Either GET or POST. Defaults to POST.</doc>
			</param>
			<param name="StatusCallback" required="false" type="xsd:string" style="query">
				<doc>The URL that Twilio will request to pass status parameters (such as call ended) to your application.</doc>
			</param>
			<param name="StatusCallbackMethod" required="false" type="xsd:string" style="query">
				<doc>The HTTP method Twilio will use to make requests to the StatusCallback URL. Either GET or POST. Defaults to POST.</doc>
			</param>
			<param name="SmsUrl" required="false" type="xsd:string" style="query">
				<doc>The URL that Twilio should request when somebody sends an SMS to the phone number.</doc>
			</param>
			<param name="SmsMethod" required="false" type="xsd:string" style="query">
				<doc>The HTTP method that should be used to request the SmsUrl. Must be either GET or POST. Defaults to POST.</doc>
			</param>
			<param name="SmsFallbackUrl" required="false" type="xsd:string" style="query">
				<doc>A URL that Twilio will request if an error occurs requesting or executing the TwiML defined by SmsUrl.</doc>
			</param>
			<param name="SmsFallbackMethod" required="false" type="xsd:string" style="query">
				<doc>The HTTP method that should be used to request the SmsFallbackUrl. Must be either GET or POST. Defaults to POST.</doc>
			</param>
			<param name="VoiceCallerIdLookup" required="false" type="xsd:string" style="query">
				<doc>
					Do a lookup of a caller's name from the CNAM database and post it to your app. Either true or false. Defaults to false.
				</doc>
			</param>
			<method id="addIncomingPhoneNumberByAreaCode" name="POST" apigee:displayName="AddIncomingPhoneNumberByAreaCode">
				<apigee:tags>
					<apigee:tag primary="true">Incoming Phone Numbers</apigee:tag>
					<apigee:tag>Objects</apigee:tag>
				</apigee:tags>
				<apigee:authentication required="true"/>
				<apigee:example url="/{AccountSid}/IncomingPhoneNumbers"/>
				<doc title="" apigee:url="http://www.twilio.com/docs/api/2010-04-01/rest/incoming-phone-numbers"><![CDATA[Adds a random phone number available for the area depending on the Area Code provided]]></doc>
			    <request>
				   <param name="Content-Type" type="string" style="header" required="true" default="application/x-www-form-urlencoded"/>
                   <param name="AreaCode" type="string" style="query" required="true" default=""/>
                   <param name="FriendlyName" type="string" style="query" required="true" default=""/>
                   <param name="VoiceUrl" type="string" style="query" required="true" default=""/>
                   <param name="VoiceMethod" type="string" style="query" required="true" default=""/>
                   <param name="VoiceFallbackUrl" type="string" style="query" required="true" default=""/>
                   <param name="StatusCallback" type="string" style="query" required="true" default=""/>
                   <param name="StatusCallbackMethod" type="string" style="query" required="true" default=""/>
                   <param name="VoiceCallerIdLookup" type="string" style="query" required="true" default=""/>
                   <param name="VoiceApplicationSid" type="string" style="query" required="true" default=""/>
                   <param name="SmsUrl" type="string" style="query" required="true" default=""/>
                   <param name="SmsMethod" type="string" style="query" required="true" default=""/>
                   <param name="SmsFallbackUrl" type="string" style="query" required="true" default=""/>
                   <param name="SmsFallbackMethod" type="string" style="query" required="true" default=""/>
                   <param name="SmsApplicationSid" type="string" style="query" required="true" default=""/>
                   <param name="AccountSid" type="string" style="query" required="true" default=""/>
                </request>
            </method>
		</resource>

		<resource path="/{AccountSid}/Calls/{CallSid}/Recordings.{format}">
			<param name="format" type="xsd:string" style="template" required="true" default="xml">
				<option value="xml" mediaType="application/xml"/>
				<option value="json" mediaType="application/json"/>
			</param>
			<param name="AccountSid" required="true" type="xsd:string" style="template">
				<doc>Represents the unique id of the Account responsible for this caller Id</doc>
			</param>
			<param name="CallSid" required="true" type="xsd:string" style="template">
				<doc>Show only recordings made during the call given by this sid.</doc>
			</param>
			<param name="DateCreated" required="false" type="xsd:string" style="query">
				<doc>
					Only show recordings created on the given date. Should be formatted as YYYY-MM-DD. You can also specify inequality, such
					as DateCreated(less than or equal to)YYYY-MM-DD for recordings generated at or before midnight on a date, and
					DateCreated(greater than or equal to)YYYY-MM-DD for recordings generated at or after midnight on a date.
				</doc>
			</param>
			<method id="getRecordingListForCall" name="GET" apigee:displayName="GetRecordingListForCall">
				<apigee:tags>
					<apigee:tag primary="true">Calls</apigee:tag>
					<apigee:tag>Objects</apigee:tag>
				</apigee:tags>
				<apigee:authentication required="true"/>
				<apigee:example url="/{AccountSid}/Calls/{CallSid}/Recordings"/>
				<doc title="" apigee:url="http://www.twilio.com/docs/api/2010-04-01/rest/call"><![CDATA[Returns a recording list for the {CallSid}]]></doc>
			</method>
		</resource>

		<resource path="/{AccountSid}/Recordings.{format}">
			<param name="format" type="xsd:string" style="template" required="true" default="xml">
				<option value="xml" mediaType="application/xml"/>
				<option value="json" mediaType="application/json"/>
			</param>
			<param name="AccountSid" required="true" type="xsd:string" style="template">
				<doc>Represents the unique id of the Account responsible for this caller Id</doc>
			</param>
			<param name="CallSid" required="false" type="xsd:string" style="query">
				<doc>Show only recordings made during the call given by this sid.</doc>
			</param>
			<param name="DateCreated" required="false" type="xsd:string" style="query">
				<doc>
					Only show recordings created on the given date. Should be formatted as YYYY-MM-DD. You can also specify inequality, such
					as DateCreated(less than or equal to)YYYY-MM-DD for recordings generated at or before midnight on a date, and
					DateCreated(greater than or equal to)YYYY-MM-DD for recordings generated at or after midnight on a date.
				</doc>
			</param>
			<method id="getRecordingListForAccount" name="GET" apigee:displayName="GetRecordingListForAccount">
				<apigee:tags>
					<apigee:tag primary="true">Recordings</apigee:tag>
					<apigee:tag>Objects</apigee:tag>
				</apigee:tags>
				<apigee:authentication required="true"/>
				<apigee:example url="/{AccountSid}/Recordings"/>
				<doc title="" apigee:url="http://www.twilio.com/docs/api/2010-04-01/rest/recording"><![CDATA[Returns a recording list associated with this {AccountSid}]]></doc>
			</method>
		</resource>

		<resource path="/{AccountSid}/Recordings/{RecordingSid}/Transcriptions.{format}">
			<param name="format" type="xsd:string" style="template" required="true" default="xml">
				<option value="xml" mediaType="application/xml"/>
				<option value="json" mediaType="application/json"/>
			</param>
			<param name="AccountSid" required="true" type="xsd:string" style="template">
				<doc>Represents the unique id of the Account responsible for this caller Id</doc>
			</param>
			<param name="RecordingSid" required="true" type="xsd:string" style="template">
				<doc>The unique id of the Recording this Transcription was made of</doc>
			</param>
			<method id="getTranscriptionListForRecording" name="GET" apigee:displayName="GetTranscriptionListForRecording">
				<apigee:tags>
					<apigee:tag primary="true">Recordings</apigee:tag>
					<apigee:tag>Objects</apigee:tag>
				</apigee:tags>
				<apigee:authentication required="true"/>
				<apigee:example url="/{AccountSid}/Recordings/{RecordingSid}/Transcriptions"/>
				<doc title="" apigee:url="http://www.twilio.com/docs/api/2010-04-01/rest/recording"><![CDATA[
					Each Recording instance resource has a Transcriptions subresource which represents the set of transcriptions generated
					from the recording (if any). Represents the set of transcriptions available for the recording identified by
					{RecordingSid}.
				]]></doc>
			</method>
		</resource>

		<resource path="/{AccountSid}/Transcriptions/{TranscriptionSid}.{format}">
			<param name="format" type="xsd:string" style="template" required="true" default="xml">
				<option value="xml" mediaType="application/xml"/>
				<option value="json" mediaType="application/json"/>
			</param>
			<param name="AccountSid" required="true" type="xsd:string" style="template">
				<doc>Represents the unique id of the Account responsible for this caller Id</doc>
			</param>
			<param name="TranscriptionSid" required="true" type="xsd:string" style="template">
				<doc>A 34 character string that uniquely identifies this resource</doc>
			</param>
			<method id="getTranscription" name="GET" apigee:displayName="GetTranscription">
				<apigee:tags>
					<apigee:tag primary="true">Transcriptions</apigee:tag>
					<apigee:tag>Objects</apigee:tag>
				</apigee:tags>
				<apigee:authentication required="true"/>
				<apigee:example url="/{AccountSid}/Transcriptions/{TranscriptionSid}"/>
				<doc title="" apigee:url="http://www.twilio.com/docs/api/2010-04-01/rest/transcription"><![CDATA[Returns a single Transcription resource representation identified by the given {TranscriptionSid}.]]></doc>
			</method>
		</resource>

		<resource path="/{AccountSid}/Transcriptions.{format}">
			<param name="format" type="xsd:string" style="template" required="true" default="xml">
				<option value="xml" mediaType="application/xml"/>
				<option value="json" mediaType="application/json"/>
			</param>
			<param name="AccountSid" required="true" type="xsd:string" style="template">
				<doc>Represents the unique id of the Account responsible for this caller Id</doc>
			</param>
			<method id="getTranscriptionList" name="GET" apigee:displayName="GetTranscriptionList">
				<apigee:tags>
					<apigee:tag primary="true">Transcriptions</apigee:tag>
					<apigee:tag>Objects</apigee:tag>
				</apigee:tags>
				<apigee:authentication required="true"/>
				<apigee:example url="/{AccountSid}/Transcriptions"/>
				<doc title="" apigee:url="http://www.twilio.com/docs/api/2010-04-01/rest/transcription"><![CDATA[
					Returns a set of Transcription resource representations that includes paging information, sorted by 'DateUpdated', with
					most recent transcripts first.
				]]></doc>
			</method>
		</resource>

		<resource path="/{AccountSid}/Recordings/{RecordingSid}.{format}">
			<param name="format" type="xsd:string" style="template" required="true" default="wav">
				<option value="wav" mediaType="audio/x-wav"/>
				<option value="mp3" mediaType="audio/mpeg"/>
				<option value="xml" mediaType="application/xml"/>
			</param>
			<param name="AccountSid" required="true" type="xsd:string" style="template">
				<doc>Represents the unique id of the Account responsible for this caller Id</doc>
			</param>
			<param name="RecordingSid" required="true" type="xsd:string" style="template">
				<doc>The unique id of the Recording this Transcription was made of</doc>
			</param>
			<method id="getRecording" name="GET" apigee:displayName="GetRecording">
				<apigee:tags>
					<apigee:tag primary="true">Recordings</apigee:tag>
					<apigee:tag>Objects</apigee:tag>
				</apigee:tags>
				<apigee:authentication required="true"/>
				<apigee:example url="/{AccountSid}/Recordings/{RecordingSid}"/>
				<doc title="" apigee:url="http://www.twilio.com/docs/api/2010-04-01/rest/recording"><![CDATA[Returns a recording]]></doc>
			</method>
		</resource>

		<resource path="/{AccountSid}/Recordings/{RecordingSid}.{format}">
			<param name="format" type="xsd:string" style="template" required="true" default="wav">
				<option value="wav" mediaType="audio/x-wav"/>
				<option value="mp3" mediaType="audio/mpeg"/>
				<option value="xml" mediaType="application/xml"/>
			</param>
			<param name="AccountSid" required="true" type="xsd:string" style="template">
				<doc>Represents the unique id of the Account responsible for this caller Id</doc>
			</param>
			<param name="RecordingSid" required="true" type="xsd:string" style="template">
				<doc>The unique id of the Recording this Transcription was made of</doc>
			</param>
			<method id="deleteRecording" name="DELETE" apigee:displayName="DeleteRecording">
				<apigee:tags>
					<apigee:tag primary="true">Recordings</apigee:tag>
					<apigee:tag>Objects</apigee:tag>
				</apigee:tags>
				<apigee:authentication required="true"/>
				<apigee:example url="/{AccountSid}/Recordings/{RecordingSid}"/>
				<doc title="" apigee:url="http://www.twilio.com/docs/api/2010-04-01/rest/recording"><![CDATA[Deletes a recording]]></doc>
			</method>
		</resource>

		<resource path="/{AccountSid}/Notifications/{NotificationSid}.{format}">
			<param name="format" type="xsd:string" style="template" required="true" default="xml">
				<option value="xml" mediaType="application/xml"/>
				<option value="json" mediaType="application/json"/>
			</param>
			<param name="AccountSid" required="true" type="xsd:string" style="template">
				<doc>Represents the unique id of the Account responsible for this caller Id</doc>
			</param>
			<param name="NotificationSid" required="true" type="xsd:string" style="template">
				<doc>A 34 character string that uniquely identifies this resource.</doc>
			</param>
			<method id="getNotification" name="GET" apigee:displayName="GetNotification">
				<apigee:tags>
					<apigee:tag primary="true">Notifications</apigee:tag>
					<apigee:tag>Objects</apigee:tag>
				</apigee:tags>
				<apigee:authentication required="true"/>
				<apigee:example url="/{AccountSid}/Notifications/{NotificationSid}"/>
				<doc title="" apigee:url="http://www.twilio.com/docs/api/2010-04-01/rest/notification"><![CDATA[Returns a notification]]></doc>
			</method>
		</resource>

		<resource path="/{AccountSid}/Notifications/{NotificationSid}.{format}">
			<param name="format" type="xsd:string" style="template" required="true" default="xml">
				<option value="xml" mediaType="application/xml"/>
				<option value="json" mediaType="application/json"/>
			</param>
			<param name="AccountSid" required="true" type="xsd:string" style="template">
				<doc>Represents the unique id of the Account responsible for this caller Id</doc>
			</param>
			<param name="NotificationSid" required="true" type="xsd:string" style="template">
				<doc>A 34 character string that uniquely identifies this resource.</doc>
			</param>
			<method id="deleteNotification" name="DELETE" apigee:displayName="DeleteNotification">
				<apigee:tags>
					<apigee:tag primary="true">Notifications</apigee:tag>
					<apigee:tag>Objects</apigee:tag>
				</apigee:tags>
				<apigee:authentication required="true"/>
				<apigee:example url="/{AccountSid}/Notifications/{NotificationSid}"/>
				<doc title="" apigee:url="http://www.twilio.com/docs/api/2010-04-01/rest/notification"><![CDATA[Deletes a notification]]></doc>
			</method>
		</resource>

		<resource path="/{AccountSid}/Notifications.{format}">
			<param name="format" type="xsd:string" style="template" required="true" default="xml">
				<option value="xml" mediaType="application/xml"/>
				<option value="json" mediaType="application/json"/>
			</param>
			<param name="AccountSid" required="true" type="xsd:string" style="template">
				<doc>Represents the unique id of the Account responsible for this caller Id</doc>
			</param>
			<param name="Log" required="false" type="xsd:string" style="query">
				<doc>Only show notifications for this log, using the integer log values shown above.</doc>
			</param>
			<param name="MessageDate" required="false" type="xsd:string" style="query">
				<doc>
					Only show notifications for this date. Should be formatted as YYYY-MM-DD. You can also specify inequality, such as
					MessageDate(less than or equal to)YYYY-MM-DD for messages logged at or before midnight on a date, and
					MessageDate(greater than or equal to )YYYY-MM-DD for messages logged at or after midnight on a date. When performing a
					date range query with day-granularity make sure the right endpoint is midnight of the next day (e.g. to construct a
					range query for all calls on YYYY-MM-DD use MessageDate(greater than or equal to)YYYY-MM-DD(and)MessageDate(less
					than)YYYY-MM-(DD+1)).
				</doc>
			</param>
			<method id="getNotificationList" name="GET" apigee:displayName="GetNotificationList">
				<apigee:tags>
					<apigee:tag primary="true">Notifications</apigee:tag>
					<apigee:tag>Objects</apigee:tag>
				</apigee:tags>
				<apigee:authentication required="true"/>
				<apigee:example url="/{AccountSid}/Notifications"/>
				<doc title="" apigee:url="http://www.twilio.com/docs/api/2010-04-01/rest/notification"><![CDATA[Returns a notification list]]></doc>
			</method>
		</resource>

		<resource path="/{AccountSid}/Calls/{CallSid}/Notifications.{format}">
			<param name="format" type="xsd:string" style="template" required="true" default="xml">
				<option value="xml" mediaType="application/xml"/>
				<option value="json" mediaType="application/json"/>
			</param>
			<param name="AccountSid" required="true" type="xsd:string" style="template">
				<doc>Represents the unique id of the Account responsible for this caller Id</doc>
			</param>
			<param name="CallSid" required="true" type="xsd:string" style="template">
				<doc>A 34 character string that uniquely identifies this resource</doc>
			</param>
			<param name="Log" required="false" type="xsd:string" style="query">
				<doc>Only show notifications for this log, using the integer log values shown above.</doc>
			</param>
			<param name="MessageDate" required="false" type="xsd:string" style="query">
				<doc>
					Only show notifications for this date. Should be formatted as YYYY-MM-DD. You can also specify inequality, such as
					MessageDate(less than or equal to)YYYY-MM-DD for messages logged at or before midnight on a date, and
					MessageDate(greater than or equal to)YYYY-MM-DD for messages logged at or after midnight on a date. When performing a
					date range query with day-granularity make sure the right endpoint is midnight of the next day (e.g. to construct a
					range query for all calls on YYYY-MM-DD use MessageDate(greater than or equal to)YYYY-MM-DD(and)MessageDate(less
					than)YYYY-MM-(DD+1)).
				</doc>
			</param>
			<method id="getNotificationListForCall" name="GET" apigee:displayName="GetNotificationListForCall">
				<apigee:tags>
					<apigee:tag primary="true">Calls</apigee:tag>
					<apigee:tag>Objects</apigee:tag>
				</apigee:tags>
				<apigee:authentication required="true"/>
				<apigee:example url="/{AccountSid}/Calls/{CallSid}/Notifications"/>
				<doc title="" apigee:url="http://www.twilio.com/docs/api/2010-04-01/rest/notification"><![CDATA[Returns a notification list]]></doc>
			</method>
		</resource>

		<resource path="/{AccountSid}/Conferences/{ConferenceSid}.{format}">
			<param name="format" type="xsd:string" style="template" required="true" default="xml">
				<option value="xml" mediaType="application/xml"/>
				<option value="json" mediaType="application/json"/>
			</param>
			<param name="AccountSid" required="true" type="xsd:string" style="template">
				<doc>Represents the unique id of the Account responsible for this caller Id</doc>
			</param>
			<param name="ConferenceSid" required="true" type="xsd:string" style="template">
				<doc>A 34 character string that uniquely identifies this conference.</doc>
			</param>
			<method id="getConference" name="GET" apigee:displayName="GetConference">
				<apigee:tags>
					<apigee:tag primary="true">Conferences</apigee:tag>
					<apigee:tag>Objects</apigee:tag>
				</apigee:tags>
				<apigee:authentication required="true"/>
				<apigee:example url="/{AccountSid}/Conferences/{ConferenceSid}"/>
				<doc title="" apigee:url="http://www.twilio.com/docs/api/2010-04-01/rest/conference"><![CDATA[Returns a representation of the conference identified by {ConferenceSid}.]]></doc>
			</method>
		</resource>

		<resource path="/{AccountSid}/Conferences/{ConferenceSid}/Participants.{format}">
			<param name="format" type="xsd:string" style="template" required="true" default="xml">
				<option value="xml" mediaType="application/xml"/>
				<option value="json" mediaType="application/json"/>
			</param>
			<param name="AccountSid" required="true" type="xsd:string" style="template">
				<doc>Represents the unique id of the Account responsible for this caller Id</doc>
			</param>
			<param name="ConferenceSid" required="true" type="xsd:string" style="template">
				<doc>A 34 character string that uniquely identifies this conference.</doc>
			</param>
			<param name="Muted" required="false" type="xsd:string" style="query">
				<doc>Only show participants that are muted or unmuted. Either true or false.</doc>
			</param>
			<method id="getParticipantListForConference" name="GET" apigee:displayName="GetParticipantListForConference">
				<apigee:tags>
					<apigee:tag primary="true">Conferences</apigee:tag>
					<apigee:tag>Objects</apigee:tag>
				</apigee:tags>
				<apigee:authentication required="true"/>
				<apigee:example url="/{AccountSid}/Conferences/{ConferenceSid}/Participants"/>
				<doc title="" apigee:url="http://www.twilio.com/docs/api/2010-04-01/rest/conference"><![CDATA[Returns the list of participants in the conference identified by {ConferenceSid}.]]></doc>
			</method>
		</resource>

		<resource path="/{AccountSid}/Conferences.{format}">
			<param name="format" type="xsd:string" style="template" required="true" default="xml">
				<option value="xml" mediaType="application/xml"/>
				<option value="json" mediaType="application/json"/>
			</param>
			<param name="AccountSid" required="true" type="xsd:string" style="template">
				<doc>Represents the unique id of the Account responsible for this caller Id</doc>
			</param>
			<param name="Status" required="false" type="xsd:string" style="query">
				<doc>Only show conferences currently in with this status. May be init, in-progress, or completed.</doc>
			</param>
			<param name="FriendlyName" required="false" type="xsd:string" style="query">
				<doc>List conferences who's FriendlyName is the exact match of this string.</doc>
			</param>
			<param name="DateCreated" required="false" type="xsd:string" style="query">
				<doc>
					Only show conferences that started on this date, given as YYYY-MM-DD. You can also specify inequality, such as
					DateCreated(less than or equal to)YYYY-MM-DD for conferences that started at or before midnight on a date, and
					DateCreated(greater than or equal to)YYYY-MM-DD for conferences that started at or after midnight on a date.
				</doc>
			</param>
			<param name="DateUpdated" required="false" type="xsd:string" style="query">
				<doc>
					Only show conferences that were last updated on this date, given as YYYY-MM-DD. You can also specify inequality, such as
					DateUpdated(less than or equal to)YYYY-MM-DD for conferences that were last updated at or before midnight on a date, and
					DateUpdated(greater than or equal to)YYYY-MM-DD for conferences that were updated at or after midnight on a date.
				</doc>
			</param>
			<method id="getConferenceListForAccount" name="GET" apigee:displayName="GetConferenceListForAccount">
				<apigee:tags>
					<apigee:tag primary="true">Conferences</apigee:tag>
					<apigee:tag>Objects</apigee:tag>
				</apigee:tags>
				<apigee:authentication required="true"/>
				<apigee:example url="/{AccountSid}/Conferences"/>
				<doc title="" apigee:url="http://www.twilio.com/docs/api/2010-04-01/rest/conference"><![CDATA[Returns a list of conferences within an account identified by {AccountSid}.]]></doc>
			</method>
		</resource>

		<resource path="/{AccountSid}/Conferences/{ConferenceSid}/Participants/{CallSid}.{format}">
			<param name="format" type="xsd:string" style="template" required="true" default="xml">
				<option value="xml" mediaType="application/xml"/>
				<option value="json" mediaType="application/json"/>
			</param>
			<param name="AccountSid" required="true" type="xsd:string" style="template">
				<doc>Represents the unique id of the Account responsible for this caller Id</doc>
			</param>
			<param name="ConferenceSid" required="true" type="xsd:string" style="template">
				<doc>A 34 character string that uniquely identifies this conference.</doc>
			</param>
			<param name="CallSid" required="true" type="xsd:string" style="template">
				<doc>A 34 character string that uniquely identifies the call that is connected to this conference.</doc>
			</param>
			<method id="getParticipantForConference" name="GET" apigee:displayName="GetParticipantForConference">
				<apigee:tags>
					<apigee:tag primary="true">Participants</apigee:tag>
					<apigee:tag>Objects</apigee:tag>
				</apigee:tags>
				<apigee:authentication required="true"/>
				<apigee:example url="/Accounts/{AccountSid}/Conferences/{ConferenceSid}/Participants/{CallSid}"/>
				<doc title="" apigee:url="http://www.twilio.com/docs/api/2010-04-01/rest/participant"><![CDATA[Returns a representation of this participant.]]></doc>
			</method>
		</resource>

		<resource path="/{AccountSid}/Conferences/{ConferenceSid}/Participants/{CallSid}.{format}">
			<param name="format" type="xsd:string" style="template" required="true" default="xml">
				<option value="xml" mediaType="application/xml"/>
				<option value="json" mediaType="application/json"/>
			</param>
			<param name="AccountSid" required="true" type="xsd:string" style="template">
				<doc>Represents the unique id of the Account responsible for this caller Id</doc>
			</param>
			<param name="ConferenceSid" required="true" type="xsd:string" style="template">
				<doc>A 34 character string that uniquely identifies this conference.</doc>
			</param>
			<param name="CallSid" required="true" type="xsd:string" style="template">
				<doc>A 34 character string that uniquely identifies the call that is connected to this conference.</doc>
			</param>
			<param name="Muted" required="false" type="xsd:string" style="query">
				<doc>Specifying true will mute the participant, while false will un-mute.</doc>
			</param>
			<method id="MuteParticipant" name="POST" apigee:displayName="MuteParticipant">
				<apigee:tags>
					<apigee:tag primary="true">Participants</apigee:tag>
					<apigee:tag>Objects</apigee:tag>
				</apigee:tags>
				<apigee:authentication required="true"/>
				<apigee:example url="/{AccountSid}/Conferences/{ConferenceSid}/Participants/{CallSid}"/>
				<doc title="" apigee:url="http://www.twilio.com/docs/api/2010-04-01/rest/participant"><![CDATA[Mute a participant.]]></doc>
			    <request>
				   <param name="Content-Type" type="string" style="header" required="true" default="application/x-www-form-urlencoded"/>
                   <param name="Muted" type="string" style="query" required="true" default=""/>
                </request>
            </method>
		</resource>

		<resource path="/{AccountSid}/Conferences/{ConferenceSid}/Participants/{CallSid}.{format}">
			<param name="format" type="xsd:string" style="template" required="true" default="xml">
				<option value="xml" mediaType="application/xml"/>
				<option value="json" mediaType="application/json"/>
			</param>
			<param name="AccountSid" required="true" type="xsd:string" style="template">
				<doc>Represents the unique id of the Account responsible for this caller Id</doc>
			</param>
			<param name="ConferenceSid" required="true" type="xsd:string" style="template">
				<doc>A 34 character string that uniquely identifies this conference.</doc>
			</param>
			<param name="CallSid" required="true" type="xsd:string" style="template">
				<doc>A 34 character string that uniquely identifies the call that is connected to this conference.</doc>
			</param>
			<method id="deleteParticipant" name="DELETE" apigee:displayName="DeleteParticipant">
				<apigee:tags>
					<apigee:tag primary="true">Participants</apigee:tag>
					<apigee:tag>Objects</apigee:tag>
				</apigee:tags>
				<apigee:authentication required="true"/>
				<apigee:example url="/{AccountSid}/Conferences/{ConferenceSid}/Participants/{CallSid}"/>
				<doc title="" apigee:url="http://www.twilio.com/docs/api/2010-04-01/rest/participant"><![CDATA[Kick a participant from a conference.]]></doc>
			</method>
		</resource>

		<resource path="/{AccountSid}/Conferences/{ConferenceSid}/Participants.{format}">
			<param name="format" type="xsd:string" style="template" required="true" default="xml">
				<option value="xml" mediaType="application/xml"/>
				<option value="json" mediaType="application/json"/>
			</param>
			<param name="AccountSid" required="true" type="xsd:string" style="template">
				<doc>Represents the unique id of the Account responsible for this caller Id</doc>
			</param>
			<param name="ConferenceSid" required="true" type="xsd:string" style="template">
				<doc>A 34 character string that uniquely identifies this conference.</doc>
			</param>
			<param name="Muted" required="false" type="xsd:string" style="query">
				<doc>Only show participants that are muted or unmuted. Either true or false.</doc>
			</param>
			<method id="getParticipantListForConference2" name="GET" apigee:displayName="GetParticipantListForConference">
				<apigee:tags>
					<apigee:tag primary="true">Participants</apigee:tag>
					<apigee:tag>Objects</apigee:tag>
				</apigee:tags>
				<apigee:authentication required="true"/>
				<apigee:example url="/{AccountSid}/Conferences/{ConferenceSid}/Participants"/>
				<doc title="" apigee:url="http://www.twilio.com/docs/api/2010-04-01/rest/participant"><![CDATA[Returns the list of participants in the conference identified by {ConferenceSid}.]]></doc>
			</method>
		</resource>

		<resource path="/{AccountSid}/Sandbox.{format}">
			<param name="format" type="xsd:string" style="template" required="true" default="xml">
				<option value="xml" mediaType="application/xml"/>
				<option value="json" mediaType="application/json"/>
			</param>
			<param name="AccountSid" required="true" type="xsd:string" style="template">
				<doc>Represents the unique id of the Account responsible for this caller Id</doc>
			</param>
			<method id="getSandbox" name="GET" apigee:displayName="GetSandbox">
				<apigee:tags>
					<apigee:tag primary="true">Sandbox</apigee:tag>
					<apigee:tag>Objects</apigee:tag>
				</apigee:tags>
				<apigee:authentication required="true"/>
				<apigee:example url="/{AccountSid}/Sandbox"/>
				<doc title="" apigee:url="http://www.twilio.com/docs/api/2010-04-01/rest/sandbox"><![CDATA[Returns the Sandbox resource associated with the account identified by {AccountSid}.]]></doc>
			</method>
		</resource>

		<resource path="/{AccountSid}/Sandbox.{format}">
			<param name="format" type="xsd:string" style="template" required="true" default="xml">
				<option value="xml" mediaType="application/xml"/>
				<option value="json" mediaType="application/json"/>
			</param>
			<param name="AccountSid" required="true" type="xsd:string" style="template">
				<doc>Represents the unique id of the Account responsible for this caller Id</doc>
			</param>
			<param name="VoiceUrl" required="false" type="xsd:string" style="query">
				<doc>

				</doc>
			</param>
			<param name="VoiceMethod" required="false" type="xsd:string" style="query">
				<doc>The HTTP method that should be used to request the above URL. Must be either GET or POST. Defaults to POST.</doc>
			</param>
			<param name="SmsUrl" required="false" type="xsd:string" style="query">
				<doc>The URL that Twilio should request when somebody sends an SMS to the sandbox.</doc>
			</param>
			<param name="SmsMethod" required="false" type="xsd:string" style="query">
				<doc>The HTTP method that should be used to request the SmsUrl. Must be either GET or POST. Defaults to POST.</doc>
			</param>
			<method id="updateSandboxByPost" name="POST" apigee:displayName="UpdateSandbox (POST)">
				<apigee:tags>
					<apigee:tag primary="true">Sandbox</apigee:tag>
					<apigee:tag>Objects</apigee:tag>
				</apigee:tags>
				<apigee:authentication required="true"/>
				<apigee:example url="/{AccountSid}/Sandbox"/>
				<doc title="" apigee:url="http://www.twilio.com/docs/api/2010-04-01/rest/sandbox"><![CDATA[Updates the Sandbox resource via POST.]]></doc>
			    <request>
				   <param name="Content-Type" type="string" style="header" required="true" default="application/x-www-form-urlencoded"/>
                   <param name="VoiceUrl" type="string" style="query" required="true" default=""/>
                   <param name="VoiceMethod" type="string" style="query" required="true" default="POST"/>
                   <param name="SmsUrl" type="string" style="query" required="true" default=""/>
                   <param name="SmsMethod" type="string" style="query" required="true" default="POST"/>
                </request>
            </method>
		</resource>

		<resource path="/{AccountSid}/Sandbox.{format}">
			<param name="format" type="xsd:string" style="template" required="true" default="xml">
				<option value="xml" mediaType="application/xml"/>
				<option value="json" mediaType="application/json"/>
			</param>
			<param name="AccountSid" required="true" type="xsd:string" style="template">
				<doc>Represents the unique id of the Account responsible for this caller Id</doc>
			</param>
			<param name="VoiceUrl" required="false" type="xsd:string" style="query">
				<doc>

				</doc>
			</param>
			<param name="VoiceMethod" required="false" type="xsd:string" style="query">
				<doc>The HTTP method that should be used to request the above URL. Must be either GET or POST. Defaults to POST.</doc>
			</param>
			<param name="SmsUrl" required="false" type="xsd:string" style="query">
				<doc>The URL that Twilio should request when somebody sends an SMS to the sandbox.</doc>
			</param>
			<param name="SmsMethod" required="false" type="xsd:string" style="query">
				<doc>The HTTP method that should be used to request the SmsUrl. Must be either GET or POST. Defaults to POST.</doc>
			</param>
			<method id="updateSandboxByPut" name="PUT" apigee:displayName="UpdateSandbox (PUT)">
				<apigee:tags>
					<apigee:tag primary="true">Sandbox</apigee:tag>
					<apigee:tag>Objects</apigee:tag>
				</apigee:tags>
				<apigee:authentication required="true"/>
				<apigee:example url="/{AccountSid}/Sandbox"/>
				<doc title="" apigee:url="http://www.twilio.com/docs/api/2010-04-01/rest/sandbox"><![CDATA[Updates the Sandbox resource via PUT.]]></doc>
                <request>
				   <param name="Content-Type" type="string" style="header" required="true" default="application/x-www-form-urlencoded"/>
                   <param name="VoiceUrl" type="string" style="query" required="true" default=""/>
                   <param name="VoiceMethod" type="string" style="query" required="true" default="POST"/>
                   <param name="SmsUrl" type="string" style="query" required="true" default=""/>
                   <param name="SmsMethod" type="string" style="query" required="true" default="POST"/>
                </request>
			</method>
		</resource>
	</resources>
</application>